

<div class="govuk-grid-row"> 
    <div id="filter" style="display:none;" class="govuk-grid-column-one-third"> 
        <div class="moj-filter__header-title">
            <h2 class="govuk-heading-m">Filter schemes to fit your business</h2>
        </div>
        <section class="grey-box"> 
        {% include "includes/motivations-filter.html" %}
        </section>
        <section class="grey-box"> 
        {% include "includes/length-filter.html" %}
        </section>
        <section class="grey-box"> 
        {% include "includes/payment-filter.html" %}
        </section>
        <section class="grey-box"> 
        {% include "includes/qualifications-filter.html" %}
        </section>
     </div>


 


