
       <h3 class="govuk-heading-m"> Other schemes </h3>
        <p class="govuk-body"> 
        <ul class="govuk-list">
        {% if page != 'apprenticeship' %}
            <li class="nav-list">
              <a class="govuk-link--no-visited-state" href="apprenticeship">  Apprenticeships 
         {% else %} 
            <li class="nav-list current-page">
              <a class="govuk-link--no-visited-state govuk-link--no-underline" href="apprenticeship">   Apprenticeships 
          {% endif %}   
        </a>
          </li>

        {% if page != 'tlevels' %}
           <li class="nav-list">
            <a class="govuk-link--no-visited-state" href="tlevels"> Industry placements: T Levels 
          {% else %} 
              <li class="nav-list current-page">
             <a class="govuk-link--no-visited-state govuk-link--no-underline" href="tlevels">   Industry placements: T Levels
        {% endif %}
        </a>
          </li>

         {% if page != 'swap' %}
           <li class="nav-list">
            <a class="govuk-link--no-visited-state" href="swap"> Sector-based Work Academy Programme (SWAP)
        {% else %} 
            <li class="nav-list current-page">
             <a class="govuk-link--no-visited-state govuk-link--no-underline" href="swap">  Sector-based Work Academy Programme (SWAP)
        {% endif %}
        </a>
          </li>

        {% if page != 'skillsbootcamp' %}
           <li class="nav-list">
            <a class="govuk-link--no-visited-state" href="bootcamp"> Skills Bootcamps 
        {% else %} 
             <li class="nav-list current-page">
             <a class="govuk-link--no-visited-state govuk-link--no-underline" href="bootcamp">  Skills Bootcamps
        {% endif %}
        </a>
          </li>

        {% if page != 'traineeships' %}
           <li class="nav-list">
            <a class="govuk-link--no-visited-state" href="traineeships"> Traineeships 
        {% else %} 
            <li class="nav-list current-page">
             <a class="govuk-link--no-visited-state govuk-link--no-underline" href="traineeships">  Traineeships
        {% endif %}
        </a>
          </li>

         {% if page != 'supportedinternship' %}
           <li class="nav-list">
            <a class="govuk-link--no-visited-state" href="supportedinternship"> Supported Internships for learners with an education, health and care plan
          {% else %} 
             <li class="nav-list current-page">
             <a class="govuk-link--no-visited-state govuk-link--no-underline" href="supportedinternship">   Supported Internships for learners with an education, health and care plan
          {% endif %}
        </a>
          </li>

        {% if page != 'clc' %}
           <li class="nav-list">
            <a class="govuk-link--no-visited-state" href="clc"> Care-leaver covenant 
             {% else %} 
              <li class="nav-list current-page">
             <a class="govuk-link--no-visited-state govuk-link--no-underline" href="clc"> Care-leaver covenant 
        {% endif %}   
          </a>
          </li>

           {% if page != 'prison' %}
           <li class="nav-list">
            <a class="govuk-link--no-visited-state" href="prisonleavers"> Employing prisoners and prison leavers 
             {% else %}
               <li class="nav-list current-page">
             <a class="govuk-link--no-visited-state govuk-link--no-underline" href="prisonleavers"> Employing prisoners and prison leavers 
        {% endif %}
          </a>
          </li>

        {% if page != 'training-outside-employment' %}
           <li class="nav-list">
            <a class="govuk-link--no-visited-state" href="training-outside-employment"> Free courses and additional training for your employees 
             {% else %} 
              <li class="nav-list current-page">
             <a class="govuk-link--no-visited-state govuk-link--no-underline" href="training-outside-employment"> Free courses and additional training for your employees 
        {% endif %}
        </a>
          </li>

        </ul>
        </p>
