
{% extends "layout.html" %}

{% block pageTitle %}
Supported Internships
{% endblock %}

{% block beforeContent %} {{ super() }}

{{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}
{% block content %}
{% set page = 'supportedinternship' %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
         Supported internships for learners with an education, health and care plan 
      </h1>

      <p class="govuk-body">
      Supported internships are a work-based study programme for young people aged 16 to 24 with Special Educational Needs and Disabilities (SEND), who have an <a href="https://www.gov.uk/children-with-special-educational-needs/extra-SEN-help">Education Health and Care (EHC) plan</a>.
      </p>    

      <p class="govuk-body">
    Supported internships equip young people with the skills they need to secure and sustain employment through learning in the workplace, with support from a qualified job coach. They last between 6 to 12 months
      </p>

      <p class="govuk-body">
Supported interns are enrolled with and supported by a learning provider, but spend most of their learning time – typically around 70% in the workplace.
      </p>
      <p class="govuk-body">
      Alongside their time with the employer, supported interns complete a personalised study programme delivered by the school/college, which includes the chance to study for relevant qualifications, if appropriate, and English and maths at an appropriate level.
      </p>
     
      <h2 class="govuk-heading-m"> Employer costs </h2>
      <p class="govuk-body">
       Free government scheme but you may have your own business costs.
      </p>

      <p class="govuk-body">
        Some employers may choose to pay wages and cover expenses such as travel and living costs.
      </p>

          <h2 class="govuk-heading-m"> Employer responsibilities </h2>
            <p class="govuk-body"> Employers must provide: </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                a safe work environment
              </li>
              <li>
               workplaces adjustments the supported intern may need
              </li>
              <li>
               a line manager to support, supervise and mentor the student
              </li>
              <li>an induction which includes explaining relevant policies and procedures
                a line manager to support, supervise and mentor the student
              </li>
              <li>
             a welcoming environment and be willing to work collaboratively with the job coach, to support the young person to succeed
              </li>
            </ul>

 <h2 class="govuk-heading-m"> Benefits of Supported Internships </h2>
  <p class="govuk-body"> Supported internships:
  </p>
  <p class="govuk-body">
      <ul class="govuk-list govuk-list--bullet">
        <li>
          create and support a diverse workforce
        </li>
        <li>
          provide a job coach who will support the intern and increase your confidence of employing individuals with additional needs
        </li>
        <li>
         increase your capacity and productivity
        </li>
         <li>
         allows you to shape a job role that suits both the needs of your business and the needs of the supported intern
        </li>
      </ul>
        </p>

        <section class="grey-box govuk-!-margin-top-7">
        <h2 class="govuk-heading-m"> Offer a Supported Internship</h2>
        <p class="govuk-body">Offer a Supported Internship by contacting the lead for your region from the
    
  <a href="https://www.preparingforadulthood.org.uk/about-us/meet-the-team.htm#Regional%20Leads">Preparing for Adulthood Team </a>
  </p>
        </section>
 </div>  
      <div class="govuk-grid-column-one-third">
        {% include "../includes/schemes.html" %}        
      </div>
  </div>

{% endblock %}

