
{% extends "layout.html" %}

{% block pageTitle %}
Training Outside of Employment
{% endblock %}

{% block beforeContent %} {{ super() }}

{{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}
{% set page = 'training-outside-employment' %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
Training Outside of Employment
      </h1>

      <p class="govuk-body">
      Free training, financial support and career advice available to your workforce.  
      </p>    

      <p> Some of the benefits of your employees taking a free course or training outside of employment include:  </p> 
      <ul class="govuk-list govuk-list--bullet">
        <li>
              upskilling your existing employees 
        </li>
        <li>
          progressing your current employees into higher skilled roles
        </li>
        <li>
              filling vacancies or skill shortages within your business  
        </li>
        <li>
                 gaining a workforce with the right knowledge, skills, and behaviours for your company to succeed          
        </li>
      </ul>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <h2 class="govuk-heading-m">Higher Technical Qualifications (HTQs) </h2>

        <p class="govuk-body">
        Higher Technical Qualifications (HTQs) are a high-quality addition to technical training routes, alongside apprenticeships, traineeships, and degrees.  
        </p>

        <p class="govuk-body">
         HTQs have been developed by employers and awarding bodies to help you upskill existing employees and provide a different recruitment pool to hire new talent.
        </p>

        <p class="govuk-body">
        You can support an employee to undertake an HTQ. The cost is dependent on the course and the provider.  
        </p>

        <p class="govuk-body"> 
       They are: 
        <ul class="govuk-list govuk-list--bullet">
          <li>
                new and existing Level 4 and 5 qualifications (such as Higher National Diplomas, Foundation Degrees, Diploma Higher Education) 
          </li>
          <li>
              approved by the Institute for Apprenticeships and Technical Education, against employer-led occupational standards 
          </li>
            <li>
                 classroom based and do not require an in-work placement  
          </li>
        </ul>
        </p>



<p class="govuk-body">
The first Digital HTQs will be available for teaching from 2022, leading to higher-level occupations like Network Engineer, Software Developer and Data Analyst. 
</p>

<p class="govuk-body">
Health and Science and Construction qualifications will be available for teaching from 2023, with a full roll-out of further industrial sectors over a four-year period. 
</p>
   <section  style="margin-left: -15px" class="grey-box govuk-!-margin-top-7"> 
  <p class="govuk-body"> <b> Offer a HTQ </b> </p> 
  <p class="govuk-body"> <a href="#"> Learn more and get started with HTQs</a>.</p>
</section>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

 <h2 class="govuk-heading-m"> Free training for basic skills (English, maths and digital)    </h2>
  <p class="govuk-body">
  Free English, maths, digital courses, and qualifications for adults.  
          </p>

 <h3 class="govuk-heading-s">English and maths entitlement     </h3>

  <p class="govuk-body">
      In England, any adult who does not already have a level 2 qualification (GCSE grade 4 or equivalent) in English or maths is legally entitled to fully funded study up to level 2.  
    </p>  
  <p class="govuk-body">
      Your workforce gets the potential to progress, and your business increases its productivity. 
    </p>  

   <h3 class="govuk-heading-s"> English for Speakers of Other Languages (ESOL)   </h3>
  <p class="govuk-body">
    Adults can be fully or part-funded to study for ESOL qualifications from entry-level to level 2.  
  </p> 
  <p class="govuk-body">
  ESOL improves English language skills which provides a clear return for individuals and the economy.  
  </p>
  <p class="govuk-body">
  Full-funding is available through the Adult Education Budget (AEB) if individuals: 
     <ul class="govuk-list govuk-list--bullet">
       <li>
            are unemployed, looking for work and in receipt of certain benefits 
       </li>
       <li>
           in low-wage employment  
       </li>    
     </ul>
        </p>  

<p class="govuk-body">
Some AEB-eligible learners can have up to 50% of the course cost paid for through a Government contribution. 
</p>

<p class="govuk-body"> 
In 9 Mayoral Combined Authorities (MCAs), AEB funding is allocated locally as well as in the Greater London Authority (GLA). Therefore, in these areas, eligibility may differ.   
</p>


   <h3 class="govuk-heading-s">  Free digital training  </h3>
  <p class="govuk-body">
   Any adult with low digital skills is entitled to fully funded essential digital skills qualifications, at entry-level and level 1. These equip adults with the full range of essential digital skills needed for life, work, and further study.  
  </p> 
  <p class="govuk-body">
  Funding for other digital skills qualifications may also be available but this will depend on local training providers. 
  </p>
  <p class="govuk-body">
  Find out more about free training courses at <a href="http://skillsforlife.campaign.gov.uk">skills for life</a>.    
        </p>  


   <h3 class="govuk-heading-s">  Free level 3 qualifications for adults  </h3>
  <p class="govuk-body">
        Free level 3 qualifications are government-funded courses for any adult aged 19 and over, who are looking to achieve their first full level 3 qualification or earning below national minimum wage.  
        </p> 
  <p class="govuk-body">
 A full level 3 qualification is equivalent to an advanced technical certificate, diploma, or A levels. 
  </p>
  <p class="govuk-body">
The Free Courses for jobs offer and the qualification list has been developed with industry and will be regularly reviewed.  
        </p>  



   <h3 class="govuk-heading-s"> National Careers Service  </h3>
  <p class="govuk-body">
    The National Careers Service is free to use and can help you explore work and skill opportunities for your workforce. 
        </p> 
  <p class="govuk-body">
Find out more about the <a href="https://nationalcareers.service.gov.uk/">National Careers Service and how to contact them</a>. 
        </p>  






    </div>  
      <div class="govuk-grid-column-one-third">
        {% include "../includes/schemes.html" %}        
      </div>
  </div>

{% endblock %}

