
{% extends "layout.html" %}

{% block pageTitle %}
Kickstart scheme
{% endblock %}

{% block beforeContent %} {{ super() }}

{{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

{% set page = 'kickstart' %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
       Kickstart scheme
      </h1>

      <p class="govuk-body">
        <a href="https://www.gov.uk/government/collections/kickstart-scheme">Kickstart scheme </a>provides funding to create new jobs for 16 to 24-year-olds on Universal Credit who are at risk of long term unemployment.
      </p>    

      <p class="govuk-body">
      Placements are 6 months with 100% of the participants time spent in-work training, to help develop transferable skills aimed at increasing their chances of sustained employment.
      </p>

      <p class="govuk-body">
      Employers can spread the job start dates up until 31 December 2021. You’ll get funding until 30 June 2022 if a young person starts their job on 31 December 2021
      </p>
      


      <h2 class="govuk-heading-m"> Employer costs </h2>
      <p class="govuk-body">
      No costs.  
      </p>

           
        <h2 class="govuk-heading-m"> Benefits of the Kickstart Scheme </h2>
      <p class="govuk-body">
        Find out <a href="https://www.gov.uk/government/collections/kickstart-scheme">how the Kickstart Scheme can benefit your business</a>.
      </p>

       <p class="govuk-body">
       Read about <a href="http://www.gov.uk/government/case-studies/how-employers-are-benefitting-from-the-kickstart-scheme">how employers are using the Kickstart Scheme</a>.
      </p>

        <h2 class="govuk-heading-m"> How to apply for Kickstart scheme grant  </h2>
       <p class="govuk-body">
     If you're ready and looking to create jobs for young people, you can <a href="https://www.gov.uk/guidance/apply-for-a-kickstart-scheme-grant">apply for Kickstart Scheme grant</a>.
      </p>
    
    </div>
     {% include "../includes/schemes.html" %}        
  </div>

{% endblock %}

