
.post {
	text-decoration: none;
	color: inherit;
	max-width: 254px;
	position: relative;
	padding: 1rem;
    margin-bottom: 35px;
    box-shadow: 0 0px #ffffff, 0 6px #104F75;
	
    // box-shadow: inset 0 0 0 4px #104F75;
	background-color: rgb(240, 240, 240);
	cursor: pointer; 
	&:before {
		position: absolute; 
		left: 0;
		bottom: 0;
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		background-color: #104F75;
		transform-origin: 0 bottom 0;
		transform: scaleY(0);
		transition: .2s ease-out;
	}
	
	&:hover {
		.post-title {
			color: #FFF;
		}
		&:before {
			transform: scaleY(1);
		}
        .post-text {
			color: #FFF;
		}
		&:before {
			transform: scaleY(1);
		}
	}
}

.post-title {
    color: #1d70b8;
    text-decoration: underline;
	position: relative;
	font-size: 1.1875rem;
	font-weight: 700;
	line-height: 1.333;
	transition: .2s ease-out;
}

.post-text {
    position: relative;
    transition: .2s ease-out;
}


.container { 
  display: flex; /*Make sure to call this on your container*/
  align-items: stretch; /*stretches all cards same height*/
  justify-content: space-around; /*some space between cards*/
}


@media screen and (min-width: 625px) {
    .post {
      min-height: 375px;
    }
  }


  .option {
      border: 3px solid #104F75;
      margin-bottom: 50px;
  }


  .choice-wrapper {
    padding:20px; 
    border: 2px solid #104F75; 
    margin-bottom: 25px;
    min-height: 400px;
  }

 .g-container {
     display: flex;
 }


 .grey-box {
	padding: 15px 15px 1px 15px;
	margin-bottom: 20px;
	background: #f3f2f1;
 }

 .filterDiv {
	display: none; /* Hidden by default */
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
	display: contents;
  }
  
  .video-container { 
	position: relative; 
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0; 
	overflow: hidden;
	}

.video-container iframe, .video-container object, .video-container embed { 
	position: absolute; 
	top: 0; 
	left: 0;
	width: 100%;
	height: 100%; 
	}


.wrap {
		overflow-wrap: break-word;
	}

	.moj-filter-layout__content {
		overflow-x: hidden;
	}

	.moj-scrollable-pane::after {
		box-shadow: none;
		
	}
	
	.mobile-button {
		display: block;
	
	@include govuk-media-query($from: tablet) { 

			display: none;
		}
	}