// This is a GOV.UK Publishing specific component that
// can be seen at http://govuk-static.herokuapp.com/component-guide/related_items

.answerGroup {
  padding-top: 30px;
  border-top: 1px solid #b1b4b6;
  padding-bottom: 30px;
}


.sticky {
  position: sticky;
  top: 0;
}

.placement-header {
  background-color: #104F75;
  color: white;
  padding: 20px;
}

.no-wrap {
  white-space: nowrap
}