// This is a GOV.UK Publishing specific component that
// can be seen at http://govuk-static.herokuapp.com/component-guide/related_items

.answerGroup {
  padding-top: 30px;
  border-top: 1px solid #b1b4b6;
  padding-bottom: 30px;
}


.relevantInfo {
  min-height: 150px;
  padding-right: 30px;
  border-right: 3px solid #104F75
}