
{% extends "layout.html" %}

{% block pageTitle %}
 Based on your answers
{% endblock %}

{% block beforeContent %} 

{{ govukPhaseBanner({
  tag: {
    text: "VIEW"
  },
  html: 'view this page in an <a class="govuk-link" href="summary-alt">alternative design</a> '
}) }}


    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Placement results</h1>
    <p> Based on your answers the following placements are recommended to fit your needs:
    </div>
    </div>
    {% if ((data['length'] | includes('medium')) or (data['length'] | includes('long'))) and ((data['motivations'] | includes('train')) or (data['motivations'] | includes('diversify'))) and (data['finance'] | includes('paid')) %}

      <h2 class="govuk-heading-l ">
         Apprenticeships 
      </h2> 
      <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">
          Subheading
        </h3>
        <p>
          Donec eu nibh elementum purus sodales sagittis eget et purus. Morbi eget finibus justo. 
          Nulla euismod lorem libero, nec aliquet dui venenatis id. Sed accumsan dui sed lectus varius dignissim. 
          Donec nec augue rhoncus, egestas arcu non, dignissim nunc. Sed nec eros luctus libero suscipit ultrices.       
        </p>
        <h3 class="govuk-heading-m">
          Subheading
        </h3>
        <p>
          Phasellus sit amet turpis est. Donec mi elit, fermentum ut odio quis, fringilla pretium purus. 
          Suspendisse commodo scelerisque massa, ut tempus nisl fermentum sit amet. Ut diam nulla, convallis eget semper a, volutpat at nunc. 
          Proin tincidunt neque in enim scelerisque, vitae semper elit tempus. 
        </p>
      </div>
      </div>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    {% endif %}

    {% if (data['length'] | includes('short')) or (data['length'] | includes('medium'))  %}    
        <h2 class="govuk-heading-l ">
          Traineeships 
        </h2> 
      <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">
          Subheading
        </h3>
        <p>
          Donec eu nibh elementum purus sodales sagittis eget et purus. Morbi eget finibus justo. 
          Nulla euismod lorem libero, nec aliquet dui venenatis id. Sed accumsan dui sed lectus varius dignissim. 
          Donec nec augue rhoncus, egestas arcu non, dignissim nunc. Sed nec eros luctus libero suscipit ultrices.       
        </p>
        <h3 class="govuk-heading-m">
          Subheading
        </h3>
        <p>
          Phasellus sit amet turpis est. Donec mi elit, fermentum ut odio quis, fringilla pretium purus. 
          Suspendisse commodo scelerisque massa, ut tempus nisl fermentum sit amet. Ut diam nulla, convallis eget semper a, volutpat at nunc. 
          Proin tincidunt neque in enim scelerisque, vitae semper elit tempus. 
        </p>
      </div>
      </div>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    {% endif %}

    {% if (data['finance'] | includes('paid')) and ((data['qualifications'] == 'none') or (data['qualifications'] == 'levelOneTwo'))  %}
      
        <h2 class="govuk-heading-l ">
          T Levels Placement 
        </h2> 
      <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">
          Subheading
        </h3>
        <p>
          Donec eu nibh elementum purus sodales sagittis eget et purus. Morbi eget finibus justo. 
          Nulla euismod lorem libero, nec aliquet dui venenatis id. Sed accumsan dui sed lectus varius dignissim. 
          Donec nec augue rhoncus, egestas arcu non, dignissim nunc. Sed nec eros luctus libero suscipit ultrices.       
        </p>
        <h3 class="govuk-heading-m">
          Subheading
        </h3>
        <p>
          Phasellus sit amet turpis est. Donec mi elit, fermentum ut odio quis, fringilla pretium purus. 
          Suspendisse commodo scelerisque massa, ut tempus nisl fermentum sit amet. Ut diam nulla, convallis eget semper a, volutpat at nunc. 
          Proin tincidunt neque in enim scelerisque, vitae semper elit tempus. 
        </p>
      </div>
      </div>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    {% endif %}

    {% if (data['length'] | includes('short')) and ((data['qualifications'] == 'none') or (data['qualifications'] == 'levelOneTwo'))   %}
        <h2 class="govuk-heading-l ">
          Bootcamps
        </h2> 
      
      <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">
          Subheading
        </h3>
        <p>
          Donec eu nibh elementum purus sodales sagittis eget et purus. Morbi eget finibus justo. 
          Nulla euismod lorem libero, nec aliquet dui venenatis id. Sed accumsan dui sed lectus varius dignissim. 
          Donec nec augue rhoncus, egestas arcu non, dignissim nunc. Sed nec eros luctus libero suscipit ultrices.       
        </p>
        <h3 class="govuk-heading-m">
          Subheading
        </h3>
        <p>
          Phasellus sit amet turpis est. Donec mi elit, fermentum ut odio quis, fringilla pretium purus. 
          Suspendisse commodo scelerisque massa, ut tempus nisl fermentum sit amet. Ut diam nulla, convallis eget semper a, volutpat at nunc. 
          Proin tincidunt neque in enim scelerisque, vitae semper elit tempus. 
        </p>
      </div>
      </div>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    {% endif %}

    {% if (data['length'] | includes('medium')) and (data['qualifications'] == 'none')  %}
      
      <h2 class="govuk-heading-l ">
         Supported Internships
      </h2> 
      <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <h3 class="govuk-heading-m">
        Subheading
      </h3>
      <p>
        Donec eu nibh elementum purus sodales sagittis eget et purus. Morbi eget finibus justo. 
        Nulla euismod lorem libero, nec aliquet dui venenatis id. Sed accumsan dui sed lectus varius dignissim. 
        Donec nec augue rhoncus, egestas arcu non, dignissim nunc. Sed nec eros luctus libero suscipit ultrices.       
      </p>
      <h3 class="govuk-heading-m">
        Subheading
      </h3>
      <p>
        Phasellus sit amet turpis est. Donec mi elit, fermentum ut odio quis, fringilla pretium purus. 
        Suspendisse commodo scelerisque massa, ut tempus nisl fermentum sit amet. Ut diam nulla, convallis eget semper a, volutpat at nunc. 
        Proin tincidunt neque in enim scelerisque, vitae semper elit tempus. 
      </p>
    </div>
    </div>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    {% endif %}

    {% if (data['length'] | includes('medium')) and (data['motivations'] | includes('train')) or (data['motivations'] | includes('unpaid')) and (data['qualifications'] == 'none')  %}
      
      <h2 class="govuk-heading-l ">
         Kickstart
      </h2>  
      <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <h3 class="govuk-heading-m">
        Subheading
      </h3>
      <p>
        Donec eu nibh elementum purus sodales sagittis eget et purus. Morbi eget finibus justo. 
        Nulla euismod lorem libero, nec aliquet dui venenatis id. Sed accumsan dui sed lectus varius dignissim. 
        Donec nec augue rhoncus, egestas arcu non, dignissim nunc. Sed nec eros luctus libero suscipit ultrices.       
      </p>
      <h3 class="govuk-heading-m">
        Subheading
      </h3>
      <p>
        Phasellus sit amet turpis est. Donec mi elit, fermentum ut odio quis, fringilla pretium purus. 
        Suspendisse commodo scelerisque massa, ut tempus nisl fermentum sit amet. Ut diam nulla, convallis eget semper a, volutpat at nunc. 
        Proin tincidunt neque in enim scelerisque, vitae semper elit tempus. 
      </p>
    </div>
    </div>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    {% endif %}

    {% if (data['length'] | includes('short')) and (data['finance'] | includes('unpaid')) and (data['qualifications'] == 'none') %}
      
      <h2 class="govuk-heading-l ">
         SWAP
      </h2> 
      <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <h3 class="govuk-heading-m">
        Subheading
      </h3>
      <p>
        Donec eu nibh elementum purus sodales sagittis eget et purus. Morbi eget finibus justo. 
        Nulla euismod lorem libero, nec aliquet dui venenatis id. Sed accumsan dui sed lectus varius dignissim. 
        Donec nec augue rhoncus, egestas arcu non, dignissim nunc. Sed nec eros luctus libero suscipit ultrices.       
      </p>
      <h3 class="govuk-heading-m">
        Subheading
      </h3>
      <p>
        Phasellus sit amet turpis est. Donec mi elit, fermentum ut odio quis, fringilla pretium purus. 
        Suspendisse commodo scelerisque massa, ut tempus nisl fermentum sit amet. Ut diam nulla, convallis eget semper a, volutpat at nunc. 
        Proin tincidunt neque in enim scelerisque, vitae semper elit tempus. 
      </p>
    </div>
    </div>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    {% endif %}

    {% if (data['length'] | includes('long')) and (data['motivations'] | includes('train')) and (data['finance'] | includes('paid')) and (data['qualifications'] == 'levelThree') %}
      <h2 class="govuk-heading-l">
        HTQs 
      </h2> 
      <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">
          Subheading
        </h3>
        <p>
        Donec eu nibh elementum purus sodales sagittis eget et purus. Morbi eget finibus justo. 
        Nulla euismod lorem libero, nec aliquet dui venenatis id. Sed accumsan dui sed lectus varius dignissim. 
        Donec nec augue rhoncus, egestas arcu non, dignissim nunc. Sed nec eros luctus libero suscipit ultrices.       
        </p>
        <h3 class="govuk-heading-m">
          Subheading
        </h3>
        <p>
        Phasellus sit amet turpis est. Donec mi elit, fermentum ut odio quis, fringilla pretium purus. 
        Suspendisse commodo scelerisque massa, ut tempus nisl fermentum sit amet. Ut diam nulla, convallis eget semper a, volutpat at nunc. 
        Proin tincidunt neque in enim scelerisque, vitae semper elit tempus. 
        </p>
      </div>
      </div>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    {% endif %}



<h2 class="govuk-heading-l govuk-!-padding-top-9"> Your answers </h2>

{# Set Length answers #}
{% set lengthHTML %}
    <ul class="govuk-list">
    {% for lengthAnswer in data['length'] %}
      <li>
      {% if lengthAnswer  == 'short' %}
        Up to 4 months
      {% elif lengthAnswer == 'medium' %}
        4 months to 12 months
      {% elif lengthAnswer == 'long' %}
        More than a year
      {% elif lengthAnswer == 'notSure' %}
        Not sure
      {% endif %}
      </li>
    {% endfor %}
    </ul>
{% endset %}

{# Set motivations answers #}

{% set motivationsHTML %}
    <ul class="govuk-list">
    {% for motivation in data['motivations'] %}
      <li>
      {% if motivation  == 'train' %}
        To train someone up into a full time role
      {% elif motivation == 'unpaid' %}
       To offer someone an unpaid work placement opportunity
      {% elif motivation == 'diversify' %}
        To diversify our workforce or for Corporate and Social Responsibility
      {% elif motivation == 'notSure' %}
        Not sure
      {% endif %}
      </li>
    {% endfor %}
    </ul>
{% endset %}

{# Set additional funding answers #}

{% set fundingHTML %}
    <ul class="govuk-list">
    {% for funding in data['finance'] %}
      <li>
      {% if funding  == 'unpaid' %}
        An unpaid placement
      {% elif funding == 'paid' %}
       Pay at least minimum wage      
      {% elif funding == 'notSure' %}
        Not sure
      {% endif %}
      </li>
    {% endfor %}
    </ul>
{% endset %}

{% set qualificationHTML %}
      {% if data['qualifications']  == 'none' %}
        No qualification requirements
      {% elif data['qualifications']  == 'levelOneTwo' %}
       Level 1-2 (GCSEs)
      {% elif data['qualifications']  == 'levelThree' %}
        Level 3 (A Level or Diploma) or higher
      {% endif %}
{% endset %}


    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Length of placement"
          },
          value: {
            html: lengthHTML
          },
          actions: {
            items: [
              {
                href: "/length?cya=true",
                text: "Change",
                visuallyHiddenText: "length of placement"
              }
            ]
          }
        },
        {
          key: {
            text: "Why schemes interest you"
          },
          value: {
            html: motivationsHTML
          },
          actions: {
            items: [
              {
                href: "motivations?cya=true",
                text: "Change",
                visuallyHiddenText: "why scemes interest you"
              }
            ]
          }
        },
        {
          key: {
            text: "Additional funding investment"
          },
          value: {
            html: fundingHTML
          },
          actions: {
            items: [
              {
                href: "/finance?cya=true",
                text: "Change",
                visuallyHiddenText: "additional funding investment"
              }
            ]
          }
        },
        {
          key: {
            text: "Minimum qualification level"
          },
          value: {
            html: qualificationHTML
          },
          actions: {
            items: [
              {
                href: "qualifications",
                text: "Change",
                visuallyHiddenText: "minimum qualification level"
              }
            ]
          }
        }
      ]
    }) }}

{% endblock %}
