  <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">        
          <h2 class="govuk-heading-m govuk-!-margin-bottom-3"><a class="govuk-link" href="/schemes/apprenticeship">Apprenticeships</a></h2>
          <p class="govuk-body-m"> 
           Paid employment for over 16s, combining work and study in a job allowing you to develop your workforce and business.
          </p>
        </div>
      </div>
      <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Cost</h3>
            <p class="govuk-body wrap"> 
             Apprentice minimum wage and 5% training contribution depending on business size
            </p>
          </div>
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Benefits</h3>
            <p class="govuk-body wrap"> 
              You develop a motivated, skilled, and qualified workforce
            </p>
          </div>   
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Time</h3>
            <p class="govuk-body wrap"> 
              Minimum of 12 months employment
            </p>
          </div>              
       </div>     