 <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-3 "><a class="govuk-link" href="/schemes/bootcamp">Skills Bootcamps</a></h2>
          <p class="govuk-body"> 
       Flexible work and training courses for aged 19 and over to fast-track specialist skill development, for existing or new talent for your business.
          </p>
      </div>
    </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Cost</h3>
              <p class="govuk-body"> 
              Cost is dependent on the size of your business. There is no cost to the employer if the learner is not currently employed by you
              </p>
          </div>
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Benefits</h3>
            <p class="govuk-body"> 
           A new starter will be trained in a specialist skill specific to your business and be highly motivated by a guaranteed an interview afterwards
            </p>
          </div>   
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Time</h3>
            <p class="govuk-body"> 
             Up to 16-weeks
            </p>
          </div>          
        </div>