  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-3 "><a class="govuk-link" href="/schemes/supportedinternship">Supported Internships for learners with additional needs</a></h2>
          <p class="govuk-body"> 
             An unpaid 6 to 12-month work placement for 16 to 24-year-olds with additional needs supported by a qualified job coach.
          </p>
      </div>
    </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Cost</h3>
              <p class="govuk-body"> 
               Free government scheme but you may have your own business costs
              </p>
          </div>
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Benefits</h3>
            <p class="govuk-body"> 
              Allows you to shape a job role that suits your business and the needs of the supported intern and increases your confidence of employing individuals with additional needs
            </p>
          </div>   
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Time</h3>
            <p class="govuk-body"> 
              6 to 12-months
            </p>
          </div>       
        </div>