 <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">               
        <h2 class="govuk-heading-m govuk-!-margin-bottom-3 "><a class="govuk-link" href="/schemes/tlevels">T Levels: Industry placements</a></h2>
          <p class="govuk-body"> 
          Provide a 45 day (315 hours) industry placement for 16 to 19 year-olds, which gives you early access to the brightest entering the market and the opportunity to develop your workforce of the future.
          </p>
      </div>
    </div>
        <div class="govuk-grid-row">  
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Cost</h3>
              <p class="govuk-body"> 
                Free government scheme but you may have your own business costs
              </p>
          </div>          
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Benefits</h3>
            <p class="govuk-body"> 
             Industry placements can save on many of the costs associated with recruitment
            </p>
          </div>     
           <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Time</h3>
            <p class="govuk-body"> 
             Short term 45-day industry placement
            </p>
          </div>                     
        </div>