 <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">               
        <h2 class="govuk-heading-m govuk-!-margin-bottom-3 "><a class="govuk-link" href="/schemes/tlevels">T Levels: Industry placements</a></h2>
          <p class="govuk-body"> 
           Provide a 45 day (315 hours) industry placement for 16 to 19 year-olds, which gives you the opportunity to develop your workforce of the future
          </p>
      </div>
    </div>
        <div class="govuk-grid-row">  
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Cost</h3>
              <p class="govuk-body"> 
                No cost but some employers choose to cover living expenses
              </p>
          </div>          
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Benefits</h3>
            <p class="govuk-body"> 
              A learner spends 9 weeks with you at no cost 
            </p>
          </div>     
           <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Time</h3>
            <p class="govuk-body"> 
             Short term 45-day industry placement
            </p>
          </div>                     
        </div>