  <div class="govuk-grid-row ">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-3 ">  <a class="govuk-link" href="/schemes/traineeships">Traineeships</a></h2>
          <p class="govuk-body"> 
           A 6-week to 12 months skills development programme that includes an unpaid work placement to help 16- to 24-year-olds prepare for an apprenticeship or employment. 
          </p>
      </div>
    </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Cost</h3>
            <p class="govuk-body"> 
               Free government scheme but you may have your own business costs
            </p>
        </div>
        <div class="govuk-grid-column-one-third">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Benefits</h3>
          <p class="govuk-body"> 
            Helps you increase your capacity and productivity whilst developing a loyal and talented workforce
          </p>
        </div>   
        <div class="govuk-grid-column-one-third">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Time</h3>
          <p class="govuk-body"> 
             6-week to 12 months
          </p>
        </div>        
      </div>