   <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-3 ">  <a class="govuk-link" href="/schemes/training-outside-employment">Training Outside of Employment</a></h2>
          <p class="govuk-body"> 
            Additional ways to train up existing employees through free qualifications, career advice and financial support.          
            </p>
      </div>
    </div>
       <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Cost</h3>
              <p class="govuk-body"> 
               Courses are fully funded for eligible adults but employees may need time to study and attend classes
              </p>
          </div>
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Benefits</h3>
            <p class="govuk-body"> 
              Help improve productivity, and develop a loyal and talented workforce in a rapidly changing labour market
            </p>
          </div>   
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Time</h3>
            <p class="govuk-body"> 
            Length of time can vary
            </p>
          </div>                        
        </div> 
