
{% extends "layout.html" %}

{% block pageTitle %}
 Are you able to financially contribute to the skills and education training?
{% endblock %}

{% block beforeContent %} 

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data['cya'] == 'true' %}
      <form method="post" action="summary"> 
    {% else %}
      <form method="post" action="qualifications"> 
    {% endif %}

     {{ govukCheckboxes({
       idPrefix: "finance",
       name: "finance",
       fieldset: {
         legend: {
           text: "Are you able to financially contribute to the skills and education training?",
           isPageHeading: true,
           classes: "govuk-fieldset__legend--l"
         }
       },
       hint: {
         text: 'For example, are you able to pay at least the national minimum wage and some costs such as travel expenses? '
       },
       items: [
          {
           value: "paid",
           text: "I can pay at least national minimum wage",
           checked: true if data['finance'] | includes('paid')
         },
         {
           value: "unpaid",
           text: "I can offer unpaid placements ",
           checked: true if data['finance'] | includes('unpaid')
         },
      {
          value: "notSure",
          text: "Not sure",
          checked: true if data['finance'] | includes('notSure')
        }
       ]
     }) }}

      {{ govukButton({
        text: "Continue"
        }) }}

      </form>

      {% if data['sa'] == 'true' %}
        {% include "./includes/smartanswers.html" %}    
      {% endif %}

    </div>
  </div>

{% endblock %}


{% block pageScripts %}

<script>



    $('.govuk-checkboxes .govuk-checkboxes__item:nth-child(3)').before($('<p class="govuk-!-margin-top-4">or</p>'))

    $('.govuk-checkboxes .govuk-checkboxes__item:nth-child(4) input').on('change', function() {
        if ($(this).is(':checked')) {
            $('.govuk-checkboxes .govuk-checkboxes__item:not(.govuk-checkboxes__item:nth-child(4)) input').prop('checked', false)           
        }
    })

    $('.govuk-checkboxes .govuk-checkboxes__item:not(.govuk-checkboxes__item:nth-child(4)) input').on('change', function() {
        if ($(this).is(':checked')) {
            $('.govuk-checkboxes .govuk-checkboxes__item:nth-child(4) input').prop('checked', false)
        }
    })

</script>

{% endblock %}