
{% extends "layout.html" %}

{% block pageTitle %}
How long can you dedicate to a training placement or employment lasting?
{% endblock %}

{% block beforeContent %} 

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     {% if data['cya'] == 'true' %}
      <form method="post" action="summary"> 
    {% else %}
      <form method="post" action="finance"> 
    {% endif %}

       {{ govukCheckboxes({
         idPrefix: "length",
         name: "length",
         hint: {
           text: 'Select all that apply'
         },
         fieldset: {
           legend: {
             text: "How long can you dedicate to a training placement or employment lasting?",
             isPageHeading: true,
             classes: "govuk-fieldset__legend--l"
           }
         },
         items: [
           {
             value: "short",
             text: "Up to 4 months",
             checked: true if data['length'] | includes('short')
           },
            {
             value: "medium",
             text: "4 months to 12 months",
             checked: true if data['length'] | includes('medium')
           },
            {
             value: "long",
             text: "A year or more",
             checked: true if data['length'] | includes('long')
           },
      {
          value: "notSure",
          text: "Not sure",
          checked: true if data['length'] | includes('notSure')
        }
         ]
       }) }}

      {{ govukButton({
        text: "Continue"
        }) }}

      </form>


      {% if data['sa'] == 'true' %}
          {% include "./includes/smartanswers.html" %}    
      {% endif %}
    </div>
  </div>

{% endblock %}

{% block pageScripts %}

<script>



    $('.govuk-checkboxes .govuk-checkboxes__item:nth-child(4)').before($('<p class="govuk-!-margin-top-4">or</p>'))

    $('.govuk-checkboxes .govuk-checkboxes__item:nth-child(5) input').on('change', function() {
        if ($(this).is(':checked')) {
            $('.govuk-checkboxes .govuk-checkboxes__item:not(.govuk-checkboxes__item:nth-child(5)) input').prop('checked', false)           
        }
    })

    $('.govuk-checkboxes .govuk-checkboxes__item:not(.govuk-checkboxes__item:nth-child(5)) input').on('change', function() {
        if ($(this).is(':checked')) {
            $('.govuk-checkboxes .govuk-checkboxes__item:nth-child(5) input').prop('checked', false)
        }
    })

</script>

{% endblock %}