
{% extends "layout.html" %}

{% block pageTitle %}
Skills bootcamp
{% endblock %}

{% block beforeContent %} {{ super() }}

{{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}
{% set page = 'skillsbootcamp' %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Skills bootcamp
      </h1>

      <p class="govuk-body">
       Skills Bootcamps offer free, flexible courses of up to 16 weeks for adults aged 19 or over and who are either in work, self-employed, recently unemployed or returning to work after a break.
      </p>    
      <p class="govuk-body">
    They give people the opportunity to build up valuable sector-specific skills based on local employer demand in areas including digital, construction and green skills.
      </p>
      <p class="govuk-body">
      They provide a direct path to a job on completion. 
      </p>
   
      <h2 class="govuk-heading-m"> Employer costs </h2>
      <p class="govuk-body">
     Employers who want to use Skills Bootcamps for their existing employees contribute 30% of the cost.
        </p>
      <p class="govuk-body">
     Existing employees may need time to study and attend classes depending on their working hours and status and the flexibility of the course.
      </p>

        <h2 class="govuk-heading-m"> Employer responsibilities </h2>
        <p class="govuk-body">
      Employers must provide:
        </p>
          <p class="govuk-body">
        <ul class="govuk-list govuk-list--bullet">
          <li>
            a safe work environment
          </li>
          <li>
            an induction which includes explaining relevant policies and procedures
          </li>
          <li>
            a line manager to support, supervise and mentor the student
          </li>
           <li>
           a guaranteed interview as part of the Skills Bootcamp provision
          </li>          
        </ul>
      </p>

     
        
 <h2 class="govuk-heading-m"> Benefits of Skills Bootcamps </h2>
  <p class="govuk-body">
       They help you:

       <ul class="govuk-list govuk-list--bullet">
         <li>
           develop a loyal and talented workforce with the skills you need
         </li>
         <li>
           futureproof your business in a rapidly changing labour market
         </li>
         <li>
           improve your productivity; learners are motivated to learn new skills, provide new ideas and a fresh perspective
         </li>
         <li>
         recruit staff with the right training and skills from the outset
         </li>
         <li>
         get access to a pipeline of skilled adults at no cost by working with existing Skills Bootcamp providers 
         </li>
       </ul>
        </p>

        <section class="grey-box">
          <h2 class="govuk-heading-m">Offer a Skills Bootcamp</h2>
          <p class="govuk-body"> Get started with offering Skills Bootcamps and find providers offering courses in your area.</p>

          <p><a href="https://www.gov.uk/government/publications/find-a-skills-bootcamp">Find Skills Bootcamps in your area</a>
          </p>
        </section>  
    </div>  
      <div class="govuk-grid-column-one-third">
        {% include "../includes/schemes.html" %}        
      </div>
  </div>

{% endblock %}

