
{% extends "layout.html" %}

{% block pageTitle %}
Free training for basic skills (English, maths and digital) 
{% endblock %}

{% block beforeContent %} {{ super() }}

{{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  
        <h1 class="govuk-heading-l">Free training for basic skills (English, maths and digital)  </h1>

     <p class="govuk-body">
  Free English, maths, digital courses, and qualifications for adults.  
          </p>

 <h3 class="govuk-heading-s">English and maths entitlement     </h3>

  <p class="govuk-body">
      In England, any adult who does not already have a level 2 qualification (GCSE grade 4 or equivalent) in English or maths is legally entitled to fully funded study up to level 2.  
    </p>  
  <p class="govuk-body">
      Your workforce gets the potential to progress, and your business increases its productivity. 
    </p>  

   <h3 class="govuk-heading-s"> English for Speakers of Other Languages (ESOL)   </h3>
  <p class="govuk-body">
    Adults can be fully or part-funded to study for ESOL qualifications from entry-level to level 2.  
  </p> 
  <p class="govuk-body">
  ESOL improves English language skills which provides a clear return for individuals and the economy.  
  </p>
  <p class="govuk-body">
  Full-funding is available through the Adult Education Budget (AEB) if individuals: 
     <ul class="govuk-list govuk-list--bullet">
       <li>
            are unemployed, looking for work and in receipt of certain benefits 
       </li>
       <li>
           in low-wage employment  
       </li>    
     </ul>
        </p>  

<p class="govuk-body">
Some AEB-eligible learners can have up to 50% of the course cost paid for through a Government contribution. 
</p>

<p class="govuk-body"> 
In 9 Mayoral Combined Authorities (MCAs), AEB funding is allocated locally as well as in the Greater London Authority (GLA). Therefore, in these areas, eligibility may differ.   
</p>


    </div>  
     
  </div>

{% endblock %}

