
{% extends "layout.html" %}

{% block pageTitle %}
Apprenticeships
{% endblock %}

{% block beforeContent %} {{ super() }}

{{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% set page = 'apprenticeship' %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Apprenticeships
      </h1>


      <p class="govuk-body">
        Apprenticeships are for those aged 16 or over and combine working with studying to gain skills and knowledge in a specific job.
      </p>    

      <p class="govuk-body">
      Apprentices can be new or current employees. 
      </p>

      
      <p class="govuk-body">
     Your apprentice must: 
     <ul class="govuk-list govuk-list--bullet">
       <li>
         work with experienced staff
       </li>
       <li>
         learn job-specific skills
       </li>
       <li>
         get time for training or study during their working week (at least 20% of their normal working hours)
       </li>
     </ul>
      </p>

      <h2 class="govuk-heading-m"> Employer costs </h2>
      <p class="govuk-body">
        You must pay apprentices <a href="https://www.gov.uk/national-minimum-wage-rates"> the minimum wage</a>.
        </p>
      <p class="govuk-body">
          You may have to contribute 5% of the apprentice’s training and assessment costs – depending on the size of your business and the age of your apprentice. 
      </p>

     
        <h2 class="govuk-heading-m"> How to hire apprentices</h2>
  <p class="govuk-body">
  There are several steps to taking on an apprentice.

<ul class="govuk-list govuk-list--number">
  <li>
    <a class="govuk-link" href="https://findapprenticeshiptraining.apprenticeships.education.gov.uk/">Choose an apprenticeship</a> for your business or organisation
  </li>
  <li>
    <a class="govuk-link" href="https://findapprenticeshiptraining.apprenticeships.education.gov.uk/">Find an organisation</a> that offers training for the apprenticeship you’ve chosen.
  </li>
  <li>
    <a class="govuk-link" href="https://www.gov.uk/take-on-an-apprentice/get-funding">Check what funding is available</a> for training and other costs to your organisation.
  </li>
  <li>
  Advertise your apprenticeship - you can do this through the <a class="govuk-link" href="https://recruit.manage-apprenticeships.service.gov.uk/">recruit an apprentice service</a> or give your training provider permission to do this for you.
  </li>
  <li>
  Select your apprentice and <a class="govuk-link" href="https://www.gov.uk/employing-an-apprentice/apprenticeship-agreement">make an apprenticeship agreement and commitment statement</a> with them.
  </li>
</ul>
        </p>

        <p class="govuk-body">
        If you do not want to hire and train the apprentice yourself, you can use an <a class="govuk-link" href="https://www.gov.uk/government/publications/apprenticeship-training-agencies">apprenticeship training agency</a>. 
      </p>
        <p class="govuk-body">
      The apprentice will be employed by the agency but will work in your organisation.
</p>

 <h2 class="govuk-heading-m"> Benefits of apprenticeships </h2>
  <p class="govuk-body">
        Discover if <a href="https://www.apprenticeships.gov.uk/employers/hiring-an-apprentice"> hiring an apprentice</a> is right for your business and how you can
       <a href="https://www.apprenticeships.gov.uk/employers/upskilling-your-workforce"> upskill your workforce</a>.
        </p>
  
<p class="govuk-body">
  <a href="https://www.apprenticeships.gov.uk/employers">Visit the apprenticeship website for employers </a>
    </p>


    </div>
     {% include "./includes/schemes.html" %}    
  </div>
          
         

{% endblock %}

