
{% extends "layout.html" %}

{% block pageTitle %}
Find training and employment schemes for your business
{% endblock %}

{% block beforeContent %} {{ super() }}

{{ govukPhaseBanner({
  tag: {
    text: "PROTOTYPE"
  },
  html: 'This is a prototype and is only intended for research and experimentation.'
}) }}

{% endblock %}


{% block content %}
 
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
         Find training and employment schemes for your business
      </h1>
      <p>
        A range of government programmes, are available for employers who are considering hiring employees, offering work experience or upskilling existing staff. 
        Some of which offer financial incentives.
      </p>
    </div>
   </div>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

     {#  APPRENTICESHIPS #}
     <div class="govuk-grid-row">

        <div class="govuk-grid-column-full">        
          <h2 class="govuk-heading-m govuk-!-margin-bottom-3"><a class="govuk-link" href="/schemes/apprenticeship">Apprenticeships</a></h2>
          <p class="govuk-body-m"> 
            Paid employment for over 16's combining work and study in a specific job allowing you to develop your workforce and business.
          </p>
        </div>
      </div>
      <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Cost</h3>
            <p class="govuk-body"> 
              Apprentice minimum wage and 5% training contribution depending on business size
            </p>
          </div>
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Benefits</h3>
            <p class="govuk-body"> 
              You develop a motivated, skilled, and qualified workforce
            </p>
          </div>   
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Time</h3>
            <p class="govuk-body"> 
              Minimum of 12 months employment
            </p>
          </div>              
       </div>     

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{# KICKSTART #}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full"> 
        <h2 class="govuk-heading-m govuk-!-margin-bottom-3 "> <a class="govuk-link" href="/schemes/kickstart">Kickstart Scheme</a></h2>
          <p class="govuk-body"> 
           Support 16 to 24-year-olds on Universal Credit with a work placement and see if they are a good fit for your business.
          </p>
      </div>
    </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Cost</h3>
            <p class="govuk-body"> 
              No costs
            </p>
        </div>
        <div class="govuk-grid-column-one-third">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Benefits</h3>
          <p class="govuk-body"> 
          Support young people to gain valuable experience and help your teams gain supervisory experience
          </p>
        </div>         
        <div class="govuk-grid-column-one-third">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Time</h3>
          <p class="govuk-body"> 
            6-months
          </p>
        </div>                          
      </div>    

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{# TRAINEESHIP #}

    <div class="govuk-grid-row ">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-3 ">  <a class="govuk-link" href="/schemes/traineeships">Traineeships</a></h2>
          <p class="govuk-body"> 
            A 6-week to 12 months unpaid work placement for 16 to 24-year-olds helping you develop a loyal and talented workforce. 
          </p>
      </div>
    </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Cost</h3>
            <p class="govuk-body"> 
               No cost but some employers choose to cover living expenses
            </p>
        </div>
        <div class="govuk-grid-column-one-third">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Benefits</h3>
          <p class="govuk-body"> 
            Helps you increase your capacity and productivity whilst developing a loyal and talented workforce
          </p>
        </div>   
        <div class="govuk-grid-column-one-third">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Time</h3>
          <p class="govuk-body"> 
             6-weeks to 12 months
          </p>
        </div>        
      </div>
   
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
{# T Levels #}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">               
        <h2 class="govuk-heading-m govuk-!-margin-bottom-3 "><a class="govuk-link" href="/schemes/tlevels">T Levels: Industry placements</a></h2>
          <p class="govuk-body"> 
           Unpaid 9-week work and study placement, for 16 to 19-year-olds giving you the chance to develop the next generation and help them succeed.
          </p>
      </div>
    </div>
        <div class="govuk-grid-row">  
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Cost</h3>
              <p class="govuk-body"> 
                No cost but some employers choose to cover living expenses
              </p>
          </div>          
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Benefits</h3>
            <p class="govuk-body"> 
              A learner spends 9 weeks with you at no cost 
            </p>
          </div>     
           <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Time</h3>
            <p class="govuk-body"> 
             Short term 45-day industry placement
            </p>
          </div>                     
        </div>
      

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
{# SKILLS BOOTCAMP #}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-3 "><a class="govuk-link" href="/schemes/bootcamp">Skills Bootcamps</a></h2>
          <p class="govuk-body"> 
             Flexible courses for over 19s to fast-track specialist skill development, for existing or new talent for your business.        
          </p>
      </div>
    </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Cost</h3>
              <p class="govuk-body"> 
               No cost unless self-employed
              </p>
          </div>
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Benefits</h3>
            <p class="govuk-body"> 
              Helps future-proof your business in a rapidly changing labour market and recruit staff with the right training and skills from the outset
            </p>
          </div>   
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Time</h3>
            <p class="govuk-body"> 
              12 to 16-weeks
            </p>
          </div>          
        </div>
        

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
{# SWAP #}

    <div class="govuk-grid-row ">
      <div class="govuk-grid-column-full"> 
        <h2 class="govuk-heading-m govuk-!-margin-bottom-3 ">  <a class="govuk-link" href="/schemes/swap">Sector-based work academy programme (SWAP)</a></h2>
          <p class="govuk-body"> 
            6-week placement for over 16's designed to help you recruit a workforce with the right skills to sustain and grow your business 
          </p>
        </div>
      </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Cost</h3>
              <p class="govuk-body"> 
                No cost, SWAP placements are entirely government-funded
              </p>
          </div>
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Benefits</h3>
            <p class="govuk-body"> 
              Helps you recruit or train staff through fully-funded pre-employment training
            </p>
          </div>   
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Time</h3>
            <p class="govuk-body"> 
              6-weeks
            </p>
          </div>       
        </div>
       
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
{# SUPORTED INTERN #}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-3 "><a class="govuk-link" href="/schemes/supportedinternship">Supported Internships for learners with additional needs</a></h2>
          <p class="govuk-body"> 
              An unpaid 6 to 12-month work placement for 16 to 24-year olds with additional needs supported by a qualified job coach.
          </p>
      </div>
    </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Cost</h3>
              <p class="govuk-body"> 
                No costs
              </p>
          </div>
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Benefits</h3>
            <p class="govuk-body"> 
              Create and support a diverse workforce and allow you to shape a job role that suits both the needs of your business and the needs of the supported intern
            </p>
          </div>   
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Time</h3>
            <p class="govuk-body"> 
              6 to 12-months
            </p>
          </div>       
        </div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{# CARE LEAVERS #}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-3 "><a class="govuk-link" href="/schemes/clc">Care-leavers Covenant</a></h2>
          <p class="govuk-body"> 
            Help 16 to 25-year-olds leave care and become independent in whatever way suits your business.       
          </p>
        </div>
      </div>
       <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Cost</h3>
              <p class="govuk-body"> 
             No costs
              </p>
          </div>
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Benefits</h3>
            <p class="govuk-body"> 
            Helping care-leavers to move to independent living
            </p>
          </div>   
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Time</h3>
            <p class="govuk-body"> 
              Length of time can vary
            </p>
          </div>                             
        </div>
    

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

   {# Higher Technical Qualifications #}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-3 "><a class="govuk-link" href="/schemes/htqs">Higher Technical Qualifications (HTQs)</a></h2>
          <p class="govuk-body"> 
            Level 4 or 5 qualifications, with no work placement but flexible for employees to study while working.          
            </p>
      </div>
    </div>
       <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Cost</h3>
              <p class="govuk-body"> 
               No cost but may choose to pay for an employee to undertake a HTQ
              </p>
          </div>
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Benefits</h3>
            <p class="govuk-body"> 
              Developed by employers to upskill existing employees, provide a different recruitment pool to hire new talent and help your company succeed
            </p>
          </div>   
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Time</h3>
            <p class="govuk-body"> 
             1 to 2 years
            </p>
          </div>              
        </div>
  

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
{# TRAINING OUTSIDE EMPLOYMENT #}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-3 ">  <a class="govuk-link" href="/schemes/training-outside-employment">Training Outside of Employment</a></h2>
          <p class="govuk-body"> 
            Additional ways to train up existing employees through free qualifications, career advice and financial support.          
            </p>
      </div>
    </div>
       <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Cost</h3>
              <p class="govuk-body"> 
               Courses are fully funded for eligible adults but employees may need time to study and attend classes
              </p>
          </div>
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Benefits</h3>
            <p class="govuk-body"> 
              Help improve productivity, and develop a loyal and talented workforce in a rapidly changing labour market
            </p>
          </div>   
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Time</h3>
            <p class="govuk-body"> 
            Length of time can vary
            </p>
          </div>                        
        </div> 
    </div>
  </div>

{% endblock %}

