
{% extends "layout.html" %}

{% block pageTitle %}
Find training and employment schemes for your business
{% endblock %}

{% block beforeContent %} {{ super() }}

{{ govukPhaseBanner({
  tag: {
    text: "PROTOTYPE"
  },
  html: 'This is a prototype and is only intended for research and experimentation.'
}) }}

{% endblock %}


{% block content %}
 
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
         Find training and employment schemes for your business
      </h1>
      <p>
        A range of government programmes, are available for employers who are considering hiring employees, offering work experience or upskilling existing staff. 
        Some of which offer financial incentives.
      </p>
    </div>
   </div>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

     {#  APPRENTICESHIPS #}
     
    {% include "./includes/front-page-content/apprenticeships.html" %}    

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{# KICKSTART #}

    {% include "./includes/front-page-content/kickstart.html" %}    
  
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{# TRAINEESHIP #}

    {% include "./includes/front-page-content/traineeship.html" %}    
  
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{# T Levels #}

    {% include "./includes/front-page-content/tlevels.html" %}    
   
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{# SKILLS BOOTCAMP #}

    {% include "./includes/front-page-content/skillsbootcamp.html" %}    
   
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{# SWAP #}

    {% include "./includes/front-page-content/swap.html" %}    
    
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{# SUPORTED INTERN #}
    {% include "./includes/front-page-content/supportedinternship.html" %}    

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{# CARE LEAVERS #}

   
    {% include "./includes/front-page-content/careleavers.html" %}    
    
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

   {# Higher Technical Qualifications #}

    {% include "./includes/front-page-content/htqs.html" %}    
   
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{# TRAINING OUTSIDE EMPLOYMENT #}

    {% include "./includes/front-page-content/training.html" %}    
 

    </div>
  </div>

{% endblock %}

