
{% extends "layout.html" %}

{% block pageTitle %}
Find training and employment schemes for your business
{% endblock %}

{% block content %}

{% set containerClasses = 'app-width-container--wide' %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
         Find training and employment schemes for your business
      </h1>
      <p>
     A range of government programmes, are available for employers who are considering hiring employees, offering work experience or upskilling existing staff, some of which offer financial incentives.

          {{ pageTitle }} 
      </p>
    </div>
  </div>
<div class="moj-filter-layout">

  <div class="moj-filter-layout__filter">

    <div class="moj-filter">

      <div class="moj-filter__header">

        <div class="moj-filter__header-title">
          <h2 class="govuk-heading-m">Filter schemes to fit your business</h2>
        </div>

        <div class="moj-filter__header-action">
        </div>

      </div>

      <div class="moj-filter__content">
       

        <div class="moj-filter__options">

 <h2 id="schemeCounter"  role="alert" class="grey-box govuk-heading-s" style="padding-bottom: 15px"> Number of schemes: <span id="numberOfSchemes"></span></h2>
    


        {% include "includes/motivations-filter.html" %}
      
        {% include "includes/length-filter.html" %}

        {% include "includes/payment-filter.html" %}

        <div class="moj-filter__heading-action">
              <p><a class="govuk-link govuk-link--no-visited-state" href="">Clear filters</a></p>
            </div>

  <div class="mobile-button moj-action-bar__filter" class="govuk-button" style="float:none"></div>

    
        </div>
      </div>

    </div>

  </div>

  <div class="moj-filter-layout__content">

    <div class="moj-action-bar">

      <div class="moj-action-bar__filter" style="float:none; padding-right: 20px" ></div>

      <div class="moj-button-menu">
        <div class="moj-button-menu__wrapper">
{{ govukButton({
  text: "Compare schemes in a table",
  href: "which-schemes",
  classes: "govuk-button--secondary"
}) }}
        </div>
      </div>

    </div>

  <div class="noResults" id="noResults">
<h2 class="govuk-heading-m govuk-!-padding-top-4"> No schemes </h2>
  <p class="govuk-body">There are no results matching your answers, remove or change your answers to see schemes. </p>
  <div class="moj-filter__heading-action">
              <p><a class="govuk-link govuk-link--no-visited-state" href="">Clear filters</a></p>
            </div>
</div>

    <div class="moj-scrollable-pane">

      <div class="moj-scrollable-pane__wrapper">
      <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-bottom-5">


        {# APPRENTICESHIPS #}

    <div class="filterDiv train diversify medium long paid none 12 3">
      {% include "./includes/front-page-content/apprenticeships.html" %}    
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    </div>      


{# T Levels #}

    <div class="filterDiv  diversify unpaidPlacement short paid unpaid none 12">
    {% include "./includes/front-page-content/tlevels.html" %}    
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    </div>

        
{# SWAP #}
    <div class="filterDiv train unpaidPlacement diversify short paid unpaid none 3">
      {% include "./includes/front-page-content/swap.html" %}    
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    </div>


{# SKILLS BOOTCAMP #}

    <div class="filterDiv train unpaidPlacement diversify placement short medium paid unpaid none 12">
     {% include "./includes/front-page-content/skillsbootcamp.html" %}    
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">     
    </div>

{# TRAINEESHIP #}
    <div class="filterDiv train unpaidPlacement diversify short medium paid unpaid none 12 3">
          {% include "./includes/front-page-content/traineeship.html" %}    
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">     
    </div>



{# SUPORTED INTERN #}

    <div class="filterDiv diversify unpaidPlacement train medium paid unpaid none">
            {% include "./includes/front-page-content/supportedinternship.html" %}    
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
 </div>

{# CARE LEAVERS #}

        <div class="filterDiv diversify unpaidPlacement train medium long paid unpaid none">
            {% include "./includes/front-page-content/careleavers.html" %}    
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
</div>

{# PRISON LEAVERS #}

        <div class="filterDiv diversify train medium long paid none">
            {% include "./includes/front-page-content/prisonleavers.html" %}    
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
</div>


{# TRAINING OUTSIDE EMPLOYMENT #}

    <div class="filterDiv train unpaidPlacement short paid unpaid none 12">
            {% include "./includes/front-page-content/training.html" %}    

      </div>
    </div>

  </div>


    </div>
  </div>

{% endblock %}

{% block pageScripts %}

<script>

new MOJFrontend.FilterToggleButton({
  bigModeMediaQuery: "(min-width: 48.063em)",
  startHidden: true,
  toggleButton: {
    container: $(".moj-action-bar__filter"),
    showText: "Filter schemes",
    hideText: "Hide filter",
    classes: "govuk-button--secondary",
  },
  closeButton: {
    container: $(".moj-filter__header-action"),
    text: "Close",
  },
  filter: {
    container: $(".moj-filter"),
  },
});


var button = document.getElementsByClassName("moj-action-bar__filter").innerHTML;

console.log(button)



</script>
{% endblock%}