
{% extends "layout.html" %}

{% block pageTitle %}
Find training and employment schemes for your business
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
         Find training and employment schemes for your business
      </h1>
      <p>
        A range of government programmes, are available for employers who are considering hiring employees, offering work experience or upskilling existing staff. 
        Some of which offer financial incentives.
      </p>
    </div>
  
  </div>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">Filter the schemes to fit your business</h2>
      <section class="grey-box"> 
      {% include "includes/motivations-filter.html" %}
      </section>
      <section class="grey-box"> 
      {% include "includes/length-filter.html" %}
      </section>
       <section class="grey-box"> 
      {% include "includes/payment-filter.html" %}
      </section>
       <section class="grey-box"> 
      {% include "includes/qualifications-filter.html" %}
      </section>
    </div>

  <div class="govuk-grid-column-two-thirds">
 <h2 class="govuk-heading-s"> Number of schemes: <span id="numberOfSchemes"></span></h2>
  <div class="noResults">
<h2 class="govuk-heading-l"> No schemes </h2>
  <p class="govuk-body">There are no results matching your answers, remove or change to see schemes. </p>

  </div>
    {# APPRENTICESHIPS #}

    <div class="filterDiv train diversify medium long paid none 12 3">
        <h2 class="govuk-heading-l">Apprenticeships</h2>
          <p class="govuk-body"> 
            For those aged 16 or over, combines working with studying to gain skills and knowledge in a specific job.
          </p>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-3">Cost</h3>
              <p class="govuk-body"> 
                Apprentices are paid at least a minimum wage and spend 80% of the time on the job.
              </p>
          </div>
          <div class="govuk-grid-column-one-half">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-3">Length</h3>
            <p class="govuk-body"> 
              Apprenticeships last at least one year, and can start at any time.
            </p>
          </div>              
        </div>
        <p class="govuk-body">
          <a class="govuk-link" href="apprenticeship">Read more about apprenticeships </a>
        </p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    </div>      


{# T Levels #}

    <div class="filterDiv unpaidPlacement short paid unpaid none 12">
        <h2 class="govuk-heading-l">T Levels: Industry placements</h2>
          <p class="govuk-body"> 
           For students aged 16 to 19 who’ve finished GCSEs. A 2-year qualification equivalent to 3 A levels. 
          </p>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-3">Cost</h3>
              <p class="govuk-body"> 
                Payment is is not required during the placement, though some employers chose to do so.
              </p>
          </div>
          <div class="govuk-grid-column-one-half">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-3">Length</h3>
            <p class="govuk-body"> 
              Students spend 9 weeks in a relevant work placement. 
            </p>
          </div>              
        </div>
        <p class="govuk-body">
          <a class="govuk-link" href="tlevels">Read more about T Levels </a>
        </p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    </div>


{# KICKSTART #}
    <div class="filterDiv train unpaidPlacement short medium paid unpaid none 3">
        <h2 class="govuk-heading-l">Kickstart Scheme</h2>
          <p class="govuk-body"> 
            A scheme lasting up to 6 months, providing funding to create new jobs for 16 to 24-year-olds on Universal Credit
          </p>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-3">Cost</h3>
              <p class="govuk-body"> 
                Funding is provided to pay for 25 hours per week at the National Minimum Wage. Employer can choose to fund additional hours
              </p>
          </div>
          <div class="govuk-grid-column-one-half">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-3">Length</h3>
            <p class="govuk-body"> 
              Lasting up to 6 months, providing funding to create new jobs for 16 to 24-year-olds on Universal Credit
            </p>
          </div>              
        </div>
        <p class="govuk-body">
          <a class="govuk-link" href="kickstart">Read more about the Kickstart Scheme </a>
        </p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    </div>

        
{# SWAP #}
    <div class="filterDiv train unpaidPlacement diversify short paid unpaid none 3">
        <h2 class="govuk-heading-l">Sector-based work academy programme (SWAP)</h2>
          <p class="govuk-body"> 
            A 6-week training scheme to help prepare unemployed adults to apply for jobs. Including a 4-week work placement and guaranteed interview with the employer. 
          </p>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-3">Cost</h3>
              <p class="govuk-body"> 
                The employer does not need to pay as the participant continues to be eligible for universal credit.
              </p>
          </div>
          <div class="govuk-grid-column-one-half">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-3">Length</h3>
            <p class="govuk-body"> 
              The scheme is 6 weeks long.
            </p>
          </div>              
        </div>
        <p class="govuk-body">
          <a class="govuk-link" href="swap">Read more about SWAP </a>
        </p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    </div>



{# TRAINEESHIP #}
    <div class="filterDiv train unpaidPlacement diversify short medium paid unpaid none 12 3">
        <h2 class="govuk-heading-l">Traineeship</h2>
          <p class="govuk-body"> 
            A 6-week to 12 months unpaid work placement for 16- to 24-year-olds helping you develop a loyal and talented workforce. 
          </p>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-3">Cost</h3>
              <p class="govuk-body"> 
                It is not necessary to pay trainees, but employers may choose to pay expenses for transport or meals.
              </p>
          </div>
          <div class="govuk-grid-column-one-half">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-3">Length</h3>
            <p class="govuk-body"> 
              A programme can last from 6 weeks up to 1 year. 
            </p>
          </div>              
        </div>
        <p class="govuk-body">
          <a class="govuk-link" href="traineeships">Read more about Traineeships </a>
        </p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">     
  

{# SKILLS BOOTCAMP #}

    <div class="filterDiv train unpaidPlacement placement short medium paid unpaid none 12">
        <h2 class="govuk-heading-l">Skills Bootcamps</h2>
          <p class="govuk-body"> 
             Flexible courses to fast-track specialist skill development, for existing or new talent for your business.          </p>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-3">Cost</h3>
              <p class="govuk-body"> 
                Free of charge to the employer if they are recruiting.
              </p>
          </div>
          <div class="govuk-grid-column-one-half">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-3">Length</h3>
            <p class="govuk-body"> 
              Up to 16 weeks
            </p>
          </div>              
        </div>
        <p class="govuk-body">
          <a class="govuk-link" href="bootcamp">Read more about Skills Bootcamps </a>
        </p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  </div>


{# SUPORTED INTERN #}

    <div class="filterDiv diversify unpaidPlacement train medium paid unpaid none 3">
        <h2 class="govuk-heading-l">Supported Internships</h2>
          <p class="govuk-body"> 
              Providing young people with additional needs the skills they need for work through learning in the workplace. A qualified job coach supports interns in the workplace.
          </p>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-3">Cost</h3>
              <p class="govuk-body"> 
                Internships are unpaid. 

              </p>
          </div>
          <div class="govuk-grid-column-one-half">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-3">Length</h3>
            <p class="govuk-body"> 
              This scheme lasts between 6 and 12 months. 
            </p>
          </div>              
        </div>
        <p class="govuk-body">
          <a class="govuk-link" href="supportedinternship">Read more about Supported Internships </a>
        </p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
 </div>

{# CARE LEAVERS #}

    <div class="filterDiv train unpaidPlacement diversify short medium long paid unpaid none 12 3">
        <h2 class="govuk-heading-l">Care-leavers Covenant</h2>
          <p class="govuk-body"> 
            Help 16 to 25-year-olds leave care and become independent in whatever way suits your business.          </p>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-3">Cost</h3>
              <p class="govuk-body"> 
                Internships are unpaid. 

              </p>
          </div>
          <div class="govuk-grid-column-one-half">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-3">Length</h3>
            <p class="govuk-body"> 
              This scheme lasts between 6 and 12 months. 
            </p>
          </div>              
        </div>
        <p class="govuk-body">
          <a class="govuk-link" href="clc">Read more about Care-leavers Covenant </a>
        </p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
</div>


{# TRAINING OUTSIDE EMPLOYMENT #}

    <div class="filterDiv unpaidPlacement short paid unpaid none 12">
        <h2 class="govuk-heading-l">Training Outside of Employment</h2>
          <p class="govuk-body"> 
            Additional ways to train up existing employees through free qualifications, career advice and financial support.          </p>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-3">Cost</h3>
              <p class="govuk-body"> 
                 No cost to employer, as they are not involved.
              </p>
          </div>
          <div class="govuk-grid-column-one-half">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-3">Length</h3>
            <p class="govuk-body"> 
              Various lengths depending on the training
            </p>
          </div>              
        </div>
        <p class="govuk-body">
          <a class="govuk-link" href="training-outside-employment">Read more about Training Outside of Employment </a>
        </p>
</div>
   
   
    
    </div>
  </div>

{% endblock %}

