
{% extends "layout.html" %}

{% block pageTitle %}
 Are you willing to run a scheme that requires additional financial investment?
{% endblock %}

{% block beforeContent %} 

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data['cya'] == 'true' %}
      <form method="post" action="summary"> 
    {% else %}
      <form method="post" action="qualifications"> 
    {% endif %}

     {{ govukCheckboxes({
       idPrefix: "finance",
       name: "finance",
       fieldset: {
         legend: {
           text: "Are you willing to run a scheme that requires additional financial investment?",
           isPageHeading: true,
           classes: "govuk-fieldset__legend--l"
         }
       },
       items: [
         {
           value: "unpaid",
           text: "I’m willing to offer an unpaid placement",
           checked: true if data['finance'] | includes('unpaid')
         },
          {
           value: "paid",
           text: "I'm willing to pay at least minimum wage",
           checked: true if data['finance'] | includes('paid')
         },
      {
          value: "notSure",
          text: "Not sure",
          checked: true if data['finance'] | includes('notSure')
        }
       ]
     }) }}

      {{ govukButton({
        text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}


{% block pageScripts %}

<script>



    $('.govuk-checkboxes .govuk-checkboxes__item:nth-child(3)').before($('<p class="govuk-!-margin-top-4">or</p>'))

    $('.govuk-checkboxes .govuk-checkboxes__item:nth-child(4) input').on('change', function() {
        if ($(this).is(':checked')) {
            $('.govuk-checkboxes .govuk-checkboxes__item:not(.govuk-checkboxes__item:nth-child(4)) input').prop('checked', false)           
        }
    })

    $('.govuk-checkboxes .govuk-checkboxes__item:not(.govuk-checkboxes__item:nth-child(4)) input').on('change', function() {
        if ($(this).is(':checked')) {
            $('.govuk-checkboxes .govuk-checkboxes__item:nth-child(4) input').prop('checked', false)
        }
    })

</script>

{% endblock %}