
{% extends "layout.html" %}

{% block pageTitle %}
Find skills and employment schemes
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
         Find skills and employment schemes
      </h1>
      <p>
        A range of government programmes, are available for employers who are considering hiring employees, offering work experience or upskilling existing staff. 
        Some of which offer Time1s.
      </p>
    </div>
   </div>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

     {#  APPRENTICESHIPS #}
     <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">        
          <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Apprenticeships</h2>
          <p class="govuk-body-m"> 
            Paid employment combining work and study in a specific job allowing you to develop your workforce and business.
          </p>
        </div>
      </div>
      <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Cost</h3>
            <p class="govuk-body"> 
              Apprentice minimum wage and 5% training contribution depending on business size
            </p>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Benefits</h3>
            <p class="govuk-body"> 
              You develop a motivated, skilled, and qualified workforce
            </p>
          </div>   
          <div class="govuk-grid-column-one-quarter">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Time</h3>
            <p class="govuk-body"> 
              Minimum of 12 months employment
            </p>
          </div> 
          <div class="govuk-grid-column-one-quarter">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Financial incentive</h3>
            <p class="govuk-body"> 
              Yes
            </p>
          </div>   
       </div>
       <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">        
          <p class="govuk-body">
            <a class="govuk-link" href="apprenticeship">Read more about apprenticeships </a>
          </p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        </div>
</div>


{# KICKSTART #}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds"> 
        <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Kickstart Scheme</h2>
          <p class="govuk-body"> 
           Support 16 to 24-year-olds on Universal Credit with a work placement and see if they are a good fit for your business.
          </p>
      </div>
    </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Cost</h3>
            <p class="govuk-body"> 
              No costs
            </p>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Benefits</h3>
          <p class="govuk-body"> 
          Support young people to gain valuable experience and help your teams gain supervisory experience
          </p>
        </div>         
        <div class="govuk-grid-column-one-quarter">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Time</h3>
          <p class="govuk-body"> 
            6-months
          </p>
        </div>         
        <div class="govuk-grid-column-one-quarter">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Financial incentive</h3>
          <p class="govuk-body"> 
           Yes
          </p>
        </div>              
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">        
          <p class="govuk-body">
            <a class="govuk-link" href="kickstart">Read more about the Kickstart Scheme </a>
          </p>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </div>
    </div>


{# TRAINEESHIP #}

    <div class="govuk-grid-row ">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Traineeship</h2>
          <p class="govuk-body"> 
            A 6-week to 12 months unpaid work placement for 16- to 24-year-olds helping you develop a loyal and talented workforce. 
          </p>
      </div>
    </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Cost</h3>
            <p class="govuk-body"> 
               No cost but some employers choose to cover living expenses
            </p>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Benefits</h3>
          <p class="govuk-body"> 
            Helps you increase your capacity and productivity whilst developing a loyal and talented workforce
          </p>
        </div>   
        <div class="govuk-grid-column-one-quarter">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Time</h3>
          <p class="govuk-body"> 
             6-weeks to 12 months
          </p>
        </div>        
        <div class="govuk-grid-column-one-quarter">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Financial incentive</h3>
          <p class="govuk-body"> 
            Yes
          </p>
        </div>                   
      </div>
       <div class="govuk-grid-row">
          <div class="govuk-grid-column-full"> 
        <p class="govuk-body">
          <a class="govuk-link" href="traineeships">Read more about Traineeships </a>
        </p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </div>
      </div>

{# T Levels #}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">               
        <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Industry placements: T Levels</h2>
          <p class="govuk-body"> 
           Unpaid 9-week work and study placement giving you the chance to develop the next generation and help them succeed.
          </p>
      </div>
    </div>
        <div class="govuk-grid-row">  
          <div class="govuk-grid-column-one-quarter">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Cost</h3>
              <p class="govuk-body"> 
                No cost but some employers choose to cover living expenses
              </p>
          </div>          
          <div class="govuk-grid-column-one-quarter">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Benefits</h3>
            <p class="govuk-body"> 
              A learner spends 9 weeks with you at no cost 
            </p>
          </div>     
           <div class="govuk-grid-column-one-quarter">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Time</h3>
            <p class="govuk-body"> 
             Short term 45-day industry placement
            </p>
          </div> 
           <div class="govuk-grid-column-one-quarter">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Financial incentive</h3>
            <p class="govuk-body"> 
              Yes
            </p>
          </div>                
        </div>
         <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">        
          <p class="govuk-body">
            <a class="govuk-link" href="tlevels">Read more about T Levels</a>
          </p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        </div>
</div>


{# SKILLS BOOTCAMP #}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Skills Bootcamps</h2>
          <p class="govuk-body"> 
             Flexible courses to fast-track specialist skill development, for existing or new talent for your business.        
          </p>
      </div>
    </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Cost</h3>
              <p class="govuk-body"> 
               No cost unless self-employed
              </p>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Benefits</h3>
            <p class="govuk-body"> 
              Helps future-proof your business in a rapidly changing labour market and recruit staff with the right training and skills from the outset
            </p>
          </div>   
          <div class="govuk-grid-column-one-quarter">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Time</h3>
            <p class="govuk-body"> 
              12 to 16-weeks
            </p>
          </div>        
          <div class="govuk-grid-column-one-quarter">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Financial incentive</h3>
            <p class="govuk-body"> 
             No
            </p>
          </div>                   
        </div>
         <div class="govuk-grid-row">
          <div class="govuk-grid-column-full"> 
        <p class="govuk-body">
          <a class="govuk-link" href="bootcamp">Read more about Skills Bootcamps </a>
        </p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </div>
    </div>

        
{# SWAP #}

    <div class="govuk-grid-row ">
      <div class="govuk-grid-column-two-thirds"> 
        <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Sector-based work academy programme (SWAP)</h2>
          <p class="govuk-body"> 
            6-week placement designed to help you recruit a workforce with the right skills to sustain and grow your business 
          </p>
        </div>
      </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Cost</h3>
              <p class="govuk-body"> 
                No cost, SWAP placements are entirely government-funded
              </p>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Benefits</h3>
            <p class="govuk-body"> 
              Helps you recruit or train staff through fully-funded pre-employment training
            </p>
          </div>   
          <div class="govuk-grid-column-one-quarter">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Time</h3>
            <p class="govuk-body"> 
              6-weeks
            </p>
          </div>        
          <div class="govuk-grid-column-one-quarter">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Financial incentive</h3>
            <p class="govuk-body"> 
             No
            </p>
          </div>                   
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full"> 
            <p class="govuk-body">
              <a class="govuk-link" href="swap">Read more about SWAP </a>
            </p>
          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
          </div>
        </div>




{# SUPORTED INTERN #}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Supported Internships for learners with additional needs</h2>
          <p class="govuk-body"> 
              Providing young people with additional needs the skills they need for work through learning in the workplace. A qualified job coach supports interns in the workplace.
          </p>
      </div>
    </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Cost</h3>
              <p class="govuk-body"> 
                No costs
              </p>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Benefits</h3>
            <p class="govuk-body"> 
              Create and support a diverse workforce and allow you to shape a job role that suits both the needs of your business and the needs of the supported intern
            </p>
          </div>   
          <div class="govuk-grid-column-one-quarter">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Time</h3>
            <p class="govuk-body"> 
              6 to 12-months
            </p>
          </div>        
          <div class="govuk-grid-column-one-quarter">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Financial incentive</h3>
            <p class="govuk-body"> 
              No
            </p>
          </div>                   
        </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full"> 
        <p class="govuk-body">
          <a class="govuk-link" href="supportedinternship">Read more about Supported Internships </a>
        </p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </div>
    </div>

{# CARE LEAVERS #}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Care-leavers Covenant</h2>
          <p class="govuk-body"> 
            Help 16 to 25-year-olds leave care and become independent in whatever way suits your business.       
          </p>
        </div>
      </div>
       <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Cost</h3>
              <p class="govuk-body"> 
             No costs
              </p>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Benefits</h3>
            <p class="govuk-body"> 
            Helping care-leavers to move to independent living
            </p>
          </div>   
          <div class="govuk-grid-column-one-quarter">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Time</h3>
            <p class="govuk-body"> 
              Length of time can vary
            </p>
          </div>        
          <div class="govuk-grid-column-one-quarter">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Financial incentive</h3>
            <p class="govuk-body"> 
              No
            </p>
          </div>                   
        </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full"> 
        <p class="govuk-body">
          <a class="govuk-link" href="clc">Read more about Care-leavers Covenant </a>
        </p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </div>
    </div>



   {# Higher Technical Qualifications #}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Higher Technical Qualifications (HTQs)</h2>
          <p class="govuk-body"> 
            Level 4 or 5 qualifications, with no work placement but flexible for employees to study while working.          
            </p>
      </div>
    </div>
       <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Cost</h3>
              <p class="govuk-body"> 
               [cost content]
              </p>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Benefits</h3>
            <p class="govuk-body"> 
              [benefits content]
            </p>
          </div>   
          <div class="govuk-grid-column-one-quarter">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Time</h3>
            <p class="govuk-body"> 
             [time content]
            </p>
          </div>        
          <div class="govuk-grid-column-one-quarter">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Financial incentive</h3>
            <p class="govuk-body"> 
           No
            </p>
          </div>                   
        </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full"> 
        <p class="govuk-body">
          <a class="govuk-link" href="htqs">Read more about Higher Technical Qualifications </a>
        </p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      </div>
    </div>


{# TRAINING OUTSIDE EMPLOYMENT #}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Training Outside of Employment</h2>
          <p class="govuk-body"> 
            Additional ways to train up existing employees through free qualifications, career advice and financial support.          
            </p>
      </div>
    </div>
       <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Cost</h3>
              <p class="govuk-body"> 
               Courses are fully funded for eligible adults but employees may need time to study and attend classes
              </p>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Benefits</h3>
            <p class="govuk-body"> 
              Help improve productivity, and develop a loyal and talented workforce in a rapidly changing labour market
            </p>
          </div>   
          <div class="govuk-grid-column-one-quarter">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Time</h3>
            <p class="govuk-body"> 
            Length of time can vary
            </p>
          </div>        
          <div class="govuk-grid-column-one-quarter">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Financial incentive</h3>
            <p class="govuk-body"> 
            No
            </p>
          </div>                   
        </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full"> 
        <p class="govuk-body">
          <a class="govuk-link" href="training-outside-employment">Read more about Training Outside of Employment </a>
        </p>

      </div>
    </div>
   
    
    </div>
  </div>

{% endblock %}

