
{% extends "layout.html" %}

{% block pageTitle %}
Find training and work placement schemes for your business
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
         Find training and work placement schemes for your business
      </h1>
      <p>
        A range of government programmes, are available for employers who are considering hiring employees, offering work experience or upskilling existing staff. 
        Some of which offer financial incentives.
      </p>
    </div>
  </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <div class="container">
          <a class="post" href="apprenticeships">
          <h2 class="post-title govuk-heading-m">Apprenticeships</h2>
            <ul class="govuk-list post-text">
              <li>
                For those aged 16 or over, combines working with studying to gain skills and knowledge in a specific job.
              </li>
              <li>
                Apprenticeships last at least one year, and can start at any time.
              </li>
                 <br>
              <li>
                Apprentices are paid at least a minimum wage and spend 80% of the time on the job.
              </li>
            </ul> 
            </a>
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
        <div class="container">
          <a class="post" href="tlevels">
          <h2 class="post-title govuk-heading-m">Industry placements: <br> T Levels</h2>
            <ul class="govuk-list post-text">
              <li>
               For students aged 16 to 19 who’ve finished GCSEs. A 2-year qualification equivalent to 3 A levels. 
              </li>
              <li>
                Students spend 9 weeks in a relevant work placement. 
              </li>
              <br>
              <li>
                Payment is is not required during the placement, though some employers chose to do so.
              </li>
            </ul> 
            </a>
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
        <div class="container">
          <a class="post" href="alevels">
          <h2 class="post-title govuk-heading-m">Kickstart Scheme</h2>
            <ul class="govuk-list post-text">
              <li>
               A scheme lasting up to 6 months, providing funding to create new jobs for 16 to 24-year-olds on Universal Credit
              </li>
                 <br>
              <li>
                Funding is provided to pay for 25 hours per week at the National Minimum Wage. Employer can choose to fund additional hours
              </li>            
            </ul> 
            </a>
      </div>
    </div>    
</div>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-third">
        <div class="container">
          <a class="post" href="apprenticeships">
          <h2 class="post-title govuk-heading-m">Sector-based work academy programme (SWAP)</h2>
            <ul class="govuk-list post-text">
              <li>
                A 6-week training scheme to help prepare unemployed adults to apply for jobs. Including a 4-week work placement and guaranteed interview with the employer. 
              </li>
                 <br>
              <li>
                The employer does not need to pay as the participant continues to be eligible for universal credit.
              </li>            
            </ul> 
            </a>
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
        <div class="container">
          <a class="post" href="tlevels">
          <h2 class="post-title govuk-heading-m">Traineeships</h2>
            <ul class="govuk-list post-text">
              <li>
               A skills development programme for 16- to 24-year-olds led by a college or training provider. A programme can last from 6 weeks up to 1 year. 
              </li>
                 <br>
              <li>
                It is not necessary to pay trainees, but employers may choose to pay expenses for transport or meals.
              </li>              
            </ul> 
            </a>
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
        <div class="container">
          <a class="post" href="alevels">
          <h2 class="post-title govuk-heading-m">Skills Bootcamps</h2>
            <ul class="govuk-list post-text">
              <li>
               Free, flexible courses of up to 16 weeks for adults aged 19 or over. Co-designed and delivered with education providers to fit employer-demand skills at level 3 or above, and offer a guaranteed interview with the employer
              </li>
                 <br>
              <li>
                Free of charge to the employer if they are recruiting.
              </li>            
            </ul> 
            </a>
      </div>
    </div>    
</div>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-third">
        <div class="container">
          <a class="post" href="apprenticeships">
          <h2 class="post-title govuk-heading-m">Supported Internships</h2>
            <ul class="govuk-list post-text">
              <li>
              Providing young people with additional needs the skills they need for work through learning in the workplace. 
              </li>
   <br>
              <li>
               Internships are unpaid, lasting between 6 and 12 months. A qualified job coach supports interns in the workplace.
              </li>            
            </ul> 
            </a>
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
        <div class="container">
          <a class="post" href="tlevels">
          <h2 class="post-title govuk-heading-m">Care-leavers Covenant</h2>
            <ul class="govuk-list post-text">
              <li>
              Supporting 16 to 25-year-olds to leave care and become independent. Organisations can pledge support including apprenticeships, work-experience, and discounted goods or services.
              </li>
                 <br>
              <li>               
              Initiatives don’t necessarily cost the employer, dependent on what initiative the employer choses.
              </li>              
            </ul> 
            </a>
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
        <div class="container">
          <a class="post" href="alevels">
          <h2 class="post-title govuk-heading-m">Training Outside of Employment</h2>
            <ul class="govuk-list post-text">
              <li>
               Career advice, free level 3 qualifications, and financial support support for level 4 and 5 qualifications are all available through Government initiatives, without having to involve an employer. 
              </li>
                 <br>
              <li>
              No cost to employer, as they are not involved.
              </li>            
            </ul> 
            </a>
      </div>
    </div>    
</div>

   
    
    </div>
  </div>

{% endblock %}

