
{% extends "layout.html" %}

{% block pageTitle %}
 Employers Options Prototypes 
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
         'Plan for Jobs' skills and employment programmes: information for employers
      </h1>
      <p>
        A range of government programmes, are available for employers who are considering hiring employees, offering work experience or upskilling existing staff. 
        Some of which offer financial incentives.
      </p>
    </div>
  </div>

    <div class="govuk-grid-row">
      <div class="option">
          <h2 class="govuk-heading-m placement-header">Apprenticeships</h2>
      <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body">
            Apprenticeships are for those aged 16 or over and combine working with studying to gain skills and knowledge in a specific job. 
          </p>           
      </div>

    <div class="govuk-grid-column-one-third">
        <svg width="28" height="28" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="18" height="18" fill="white"/>
<path d="M4 10.585H5.969C6.084 11.05 6.155 11.524 6.155 12.015C6.155 13.4 5.419 14.511 4.08 14.786V16H12V14.76H6.492V14.631C7.317 14.106 7.627 13.185 7.627 11.937C7.627 11.472 7.557 11.024 7.459 10.585H10.749V9.613H7.22C7.034 8.89 6.848 8.158 6.848 7.366C6.848 6.092 7.895 5.3 9.428 5.3C10.1534 5.31 10.869 5.46824 11.531 5.765V4.456C10.841 4.15993 10.0988 4.00489 9.348 4C6.865 4 5.322 5.291 5.322 7.366C5.322 8.141 5.517 8.881 5.721 9.613H4V10.585V10.585Z" fill="#104F75"/>
</svg>
  <p class="govuk-body">  
    Apprentices are paid at least a minimum wage and spend 80% of the time on the job. 
  </p>

  <svg width="28" height="28" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect width="18" height="18" fill="white"/>
    <path d="M11.375 6C11.375 6.06875 11.3188 6.125 11.25 6.125H10.375C10.3062 6.125 10.25 6.06875 10.25 6V5.25H6.25V6C6.25 6.06875 6.19375 6.125 6.125 6.125H5.25C5.18125 6.125 5.125 6.06875 5.125 6V5.25H3.125V7.375H13.375V5.25H11.375V6Z" fill="black" fill-opacity="0.15"/>
    <path d="M14 4.125H11.375V3.125C11.375 3.05625 11.3188 3 11.25 3H10.375C10.3062 3 10.25 3.05625 10.25 3.125V4.125H6.25V3.125C6.25 3.05625 6.19375 3 6.125 3H5.25C5.18125 3 5.125 3.05625 5.125 3.125V4.125H2.5C2.22344 4.125 2 4.34844 2 4.625V15C2 15.2766 2.22344 15.5 2.5 15.5H14C14.2766 15.5 14.5 15.2766 14.5 15V4.625C14.5 4.34844 14.2766 4.125 14 4.125ZM13.375 14.375H3.125V8.4375H13.375V14.375ZM13.375 7.375H3.125V5.25H5.125V6C5.125 6.06875 5.18125 6.125 5.25 6.125H6.125C6.19375 6.125 6.25 6.06875 6.25 6V5.25H10.25V6C10.25 6.06875 10.3062 6.125 10.375 6.125H11.25C11.3188 6.125 11.375 6.06875 11.375 6V5.25H13.375V7.375Z" fill="#104F75"/>
  </svg>
    
       <p class="govuk-body">
            Apprenticeships last at least one year, and can start at any time.
    </p>
    </div>
       <a class="govuk-body govuk-link" href=""> Find out more about apprenticeships 
            </a> 
</div>
    </div>
          <h2 class="govuk-heading-m">Industry placements: T Levels</h2>
            <ul class="govuk-list ">
              <li>
               For students aged 16 to 19 who’ve finished GCSEs. A 2-year qualification equivalent to 3 A levels. 
              </li>
              <li>
                Students spend 9 weeks in a relevant work placement. 
              </li>
              <li>
                Payment is is not required during the placement, though some employers chose to do so.
              </li>
            </ul> 
                        <a class="govuk-body govuk-link" href=""> Find out more about apprenticeships 

      </div>
    </div>

    <div class="govuk-grid-column-one-third">
        <div class="container">
          <a class="post" href="alevels">
          <h2 class="post-title govuk-heading-m">Kickstart Scheme</h2>
            <ul class="govuk-list post-text">
              <li>
               A scheme lasting up to 6 months, providing funding to create new jobs for 16 to 24-year-olds on Universal Credit
              </li>
                 <br>
              <li>
                Funding is provided to pay for 25 hours per week at the National Minimum Wage. Employer can choose to fund additional hours
              </li>            
            </ul> 
            </a>
      </div>
    </div>    
</div>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-third">
        <div class="container">
          <a class="post" href="apprenticeships">
          <h2 class="post-title govuk-heading-m">Sector-based work academy programme (SWAP)</h2>
            <ul class="govuk-list post-text">
              <li>
                A 6-week training scheme to help prepare unemployed adults to apply for jobs. Including a 4-week work placement and guaranteed interview with the employer. 
              </li>
                 <br>
              <li>
                The employer does not need to pay as the participant continues to be eligible for universal credit.
              </li>            
            </ul> 
            </a>
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
        <div class="container">
          <a class="post" href="tlevels">
          <h2 class="post-title govuk-heading-m">Traineeships</h2>
            <ul class="govuk-list post-text">
              <li>
               A skills development programme for 16- to 24-year-olds led by a college or training provider. A programme can last from 6 weeks up to 1 year. 
              </li>
                 <br>
              <li>
                It is not necessary to pay trainees, but employers may choose to pay expenses for transport or meals.
              </li>              
            </ul> 
            </a>
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
        <div class="container">
          <a class="post" href="alevels">
          <h2 class="post-title govuk-heading-m">Skills Bootcamps</h2>
            <ul class="govuk-list post-text">
              <li>
               Free, flexible courses of up to 16 weeks for adults aged 19 or over. Co-designed and delivered with education providers to fit employer-demand skills at level 3 or above, and offer a guaranteed interview with the employer
              </li>
                 <br>
              <li>
                Free of charge to the employer if they are recruiting.
              </li>            
            </ul> 
            </a>
      </div>
    </div>    
</div>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-third">
        <div class="container">
          <a class="post" href="apprenticeships">
          <h2 class="post-title govuk-heading-m">Supported Internships</h2>
            <ul class="govuk-list post-text">
              <li>
              Providing young people with additional needs the skills they need for work through learning in the workplace. 
              </li>
   <br>
              <li>
               Internships are unpaid, lasting between 6 and 12 months. A qualified job coach supports interns in the workplace.
              </li>            
            </ul> 
            </a>
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
        <div class="container">
          <a class="post" href="tlevels">
          <h2 class="post-title govuk-heading-m">Care-leavers Covenant</h2>
            <ul class="govuk-list post-text">
              <li>
              Supporting 16 to 25-year-olds to leave care and become independent. Organisations can pledge support including apprenticeships, work-experience, and discounted goods or services.
              </li>
                 <br>
              <li>               
              Initiatives don’t necessarily cost the employer, dependent on what initiative the employer choses.
              </li>              
            </ul> 
            </a>
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
        <div class="container">
          <a class="post" href="alevels">
          <h2 class="post-title govuk-heading-m">Training Outside of Employment</h2>
            <ul class="govuk-list post-text">
              <li>
               Career advice, free level 3 qualifications, and financial support support for level 4 and 5 qualifications are all available through Government initiatives, without having to involve an employer. 
              </li>
                 <br>
              <li>
              No cost to employer, as they are not involved.
              </li>            
            </ul> 
            </a>
      </div>
    </div>    
</div>

   
    
    </div>
  </div>

{% endblock %}

