
{% extends "layout.html" %}

{% block pageTitle %}
 Employers Options Prototypes 
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
         Employers Options Prototypes 
      </h1>
<ul class="govuk-list">
  <li>
   <a href="find" class="govuk-link">Questionnaire</a>
  </li>
    <li>
   <a href="which-schemes" class="govuk-link">Comparison</a>
  </li>
  <li>
    <a href="frontpage" class="govuk-link"> Front page - details </a>
  </li>
  <li>
    <a href="frontpage_thirds" class="govuk-link"> Front page - thirds </a>
  </li>
  <li>
    <a href="frontpage_filter" class="govuk-link"> Front page  - filter </a>
  </li> 
</ul>

    
    </div>
  </div>

{% endblock %}

