
{% extends "layout.html" %}

{% block pageTitle %}
  Employer questions
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Title hello
      </h1>
      <p>
        Employer questions to help route them to information that is relevant to them about government-funded skills and education programs.
      </p>
      <p> Use this service to: </p>
     <ul class="govuk-list govuk-list--bullet">
       <li>
         List items
       </li>
       <li>
         List item
       </li>
       <li>
         List item
       </li>
     </ul>

    {{ govukButton({
      text: "Start now",
      href: "length?cya=false",
      isStartButton: true
    }) }}
    
    </div>
  </div>

{% endblock %}

