
{% extends "layout.html" %}

{% block pageTitle %}
Kickstart scheme
{% endblock %}

{% block beforeContent %} {{ super() }}

{{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
       Kickstart scheme
      </h1>

      <p class="govuk-body">
       The Kickstart Scheme provides funding to create new jobs for 16 to 24-year-olds on Universal Credit who are at risk of long-term unemployment.
      </p>    

      <p class="govuk-body">
      The scheme can last for up to 6 months, and has funding for 25 hours per week at 100% of the National Minimum Wage (or the National Living Wage depending on the age of the participant).
      </p>

      <p class="govuk-body">
      Employers can spread the job start dates up until 31 December 2021. You’ll get funding until 30 June 2022 if a young person starts their job on 31 December 2021
      </p>

      <p class="govuk-body">
      Further funding is available for training and support so that young people on the scheme can get a job in the future.
      </p>


      <h2 class="govuk-heading-m"> Employer costs </h2>
      <p class="govuk-body">
       The employer is required to pay the <a class="govuk-link" href="https://www.gov.uk/national-minimum-wage-rates"> National Minimum Wage  </a> for hours exceeding the 25 hours per week funded by the Scheme, as well as: 
      
      <ul class="govuk-list govuk-list--bullet">
        <li>
          Associated <a class="govuk-link" href="https://www.gov.uk/national-insurance-rates-letters#employer-national-insurance-rates"> employer National Insurance contributions </a>
        </li>
        <li>
         <a class="govuk-link" href="https://www.thepensionsregulator.gov.uk/en/employers"> Minimum automatic enrolment pension contributions </a>
        </li>
      </ul>
      
      </p>

        <h2 class="govuk-heading-m"> How to offer an industry placement  </h2>
       <p class="govuk-body">
       Find out <a class="govuk-link" href="https://www.gov.uk/guidance/apply-for-a-kickstart-scheme-grant">how to apply for Kickstart Scheme grant </a> 
      </p>
    
      <p class="govuk-body">
       You can apply online at <a class="govuk-link" href="hhttps://www.gov.uk/guidance/apply-for-a-kickstart-scheme-grant#how-to-apply-1">Apply for a Kickstart Scheme grant </a> 
      </p>
     
        <h2 class="govuk-heading-m"> Benefits of the Kickstart Scheme </h2>
      <p class="govuk-body">
        You’ll get £1,500 funding per job. This should be spent on setup costs and supporting the young person to develop their employability skills (DWP may ask you for your spending records).
      </p>

       <p class="govuk-body">
       Provide opportunities for young people and create a diverse and loyal workforce.
      </p>




<p class="govuk-body">
  <a href=" https://www.gov.uk/government/collections/kickstart-scheme">Visit the apprenticeship website for employers </a>
    </p>
     
    </div>
  </div>

{% endblock %}

