
{% extends "layout.html" %}

{% block pageTitle %}
Find skills and employment schemes
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Find skills and employment schemes
      </h1>
      <p class="govuk-body-l">
        A range of government programmes, are available for employers who are considering hiring employees, offering work experience or upskilling existing staff. 
        Some of which offer financial incentives.
      </p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
       <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Apprenticeships</h2>
       <p>  Combine working with studying to gain skills and knowledge in a specific job. </p>
  <p>  <a class="govuk-link" href="apprenticeship"> Read more about apprenticeships  </a> 
       </p> 
</div>
     <div class="govuk-grid-column-one-third">
       <h2 class="govuk-heading-m govuk-!-margin-bottom-3">T Levels</h2>
       <p>  Combine working with studying to gain skills and knowledge in a specific job. </p>
  <p>  <a class="govuk-link" href="apprenticeship"> Read more about T-Levels </a> 
       </p> 
</div>
    <div class="govuk-grid-column-one-third">
       <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Kickstart</h2>
       <p>  Combine working with studying to gain skills and knowledge in a specific job. </p>
  <p>  <a class="govuk-link" href="apprenticeship"> Read more about Kickstart </a> 
       </p> 
</div>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
       <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Sector-based work academy programme (SWAP)</h2>
       <p>  Combine working with studying to gain skills and knowledge in a specific job. </p>
  <p>  <a class="govuk-link" href="apprenticeship"> Read more about SWAP </a> 
       </p> 
</div>
     <div class="govuk-grid-column-one-third">
       <h2 class="govuk-heading-m govuk-!-margin-bottom-3">T Levels</h2>
       <p>  Combine working with studying to gain skills and knowledge in a specific job. </p>
  <p>  <a class="govuk-link" href="apprenticeship"> Read more about T-Levels </a> 
       </p> 
</div>
    <div class="govuk-grid-column-one-third">
       <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Kickstart</h2>
       <p>  Combine working with studying to gain skills and knowledge in a specific job. </p>
  <p>  <a class="govuk-link" href="apprenticeship"> Read more about Kickstart </a> 
       </p> 
</div>
</div>


{# SWAP #}

  <div class="govuk-grid-column-one-half">
    <div class="choice-wrapper">
    <h2 class="govuk-heading-m">Sector-based work academy programme (SWAP)</h2>
    <p class="govuk-body">
      A 6-week training scheme to help prepare unemployed adults to apply for jobs. Including a 4-week work placement and guaranteed interview with the employer. 
    </p>   
 <div class="g-container">
<svg width="68" height="38" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0 9.585H1.969C2.084 10.05 2.155 10.524 2.155 11.015C2.155 12.4 1.419 13.511 0.0799999 13.786V15H8V13.76H2.492V13.631C3.317 13.106 3.627 12.185 3.627 10.937C3.627 10.472 3.557 10.024 3.459 9.585H6.749V8.613H3.22C3.034 7.89 2.848 7.158 2.848 6.366C2.848 5.092 3.895 4.3 5.428 4.3C6.15337 4.31 6.86904 4.46824 7.531 4.765V3.456C6.84103 3.15993 6.0988 3.00489 5.348 3C2.865 3 1.322 4.291 1.322 6.366C1.322 7.141 1.517 7.881 1.721 8.613H0V9.585V9.585Z" fill="#104F75"/>
</svg>
    <span style="padding-left:5px" class="govuk-body">  
       The employer does not need to pay as the participant continues to be eligible for universal credit.
    </span>
    </div>
    <div class="g-container">
<svg width="50" height="48" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.375 6C9.375 6.06875 9.31875 6.125 9.25 6.125H8.375C8.30625 6.125 8.25 6.06875 8.25 6V5.25H4.25V6C4.25 6.06875 4.19375 6.125 4.125 6.125H3.25C3.18125 6.125 3.125 6.06875 3.125 6V5.25H1.125V7.375H11.375V5.25H9.375V6Z" fill="black" fill-opacity="0.15"/>
<path d="M12 4.125H9.375V3.125C9.375 3.05625 9.31875 3 9.25 3H8.375C8.30625 3 8.25 3.05625 8.25 3.125V4.125H4.25V3.125C4.25 3.05625 4.19375 3 4.125 3H3.25C3.18125 3 3.125 3.05625 3.125 3.125V4.125H0.5C0.223437 4.125 0 4.34844 0 4.625V15C0 15.2766 0.223437 15.5 0.5 15.5H12C12.2766 15.5 12.5 15.2766 12.5 15V4.625C12.5 4.34844 12.2766 4.125 12 4.125ZM11.375 14.375H1.125V8.4375H11.375V14.375ZM11.375 7.375H1.125V5.25H3.125V6C3.125 6.06875 3.18125 6.125 3.25 6.125H4.125C4.19375 6.125 4.25 6.06875 4.25 6V5.25H8.25V6C8.25 6.06875 8.30625 6.125 8.375 6.125H9.25C9.31875 6.125 9.375 6.06875 9.375 6V5.25H11.375V7.375Z" fill="#104F75"/>
</svg>
    <span style="padding-left:5px" class="govuk-body">
     SWAP is a 6 week scheme
    </span>
    </div>
       <p class="govuk-body">
    <a class="govuk-link" href="apprenticeship"> Find out more about apprenticeships  </a> 
    </p>
</div>
</div>
</div>




    </div>
  </div>

{% endblock %}

