
{% extends "layout.html" %}

{% block pageTitle %}
 How long does your organisation want the employability scheme to last?
{% endblock %}

{% block beforeContent %} 

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" action="finance"> 

       {{ govukRadios({
         idPrefix: "length",
         name: "length",
         fieldset: {
           legend: {
             text: "How long does your organisation want the employability scheme to last?",
             isPageHeading: true,
             classes: "govuk-fieldset__legend--l"
           }
         },
         items: [
           {
             value: "short",
             text: "6 weeks or less",
             checked: true if data['length'] == 'short'
           },
            {
             value: "medium",
             text: "6 months or less",
             checked: true if data['length'] == 'medium'
           },
            {
             value: "long",
             text: "Up to 1 year or more",
             checked: true if data['length'] == 'long'
           }
         ]
       }) }}

      {{ govukButton({
        text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
