
{% extends "layout.html" %}

{% block pageTitle %}
Why are government schemes of interest to you?
{% endblock %}

{% block beforeContent %} 

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
      {% if data['cya'] == 'true' %}
      <form method="post" action="summary"> 
    {% else %}
      <form method="post" action="length"> 
    {% endif %}

  {{ govukCheckboxes({
    idPrefix: "motivations",
    name: "motivations",
    fieldset: {
      legend: {
        text: "What has motivated you to consider government-funded training placements or employment schemes?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    hint: {
      text: "Select all that apply"
    },
    items: [
      {
        value: "train",
        text: "To help train someone up into a full-time role",
        checked: true if data['motivations'] | includes('train')
      },   
      {
        value: "unpaid",
        text: "To offer someone an unpaid work placement opportunity",
        checked: true if data['motivations'] | includes('unpaid')
      },
      {
        value: "diversify",
        text: "To diversify our workforce or for corporate and social responsibility",
        checked: true if data['motivations'] | includes('diversify')
      },
      {
          value: "notSure",
          text: "Not sure",
          checked: true if data['motivations'] | includes('notSure')
        }
    ]
  }) }}
      {{ govukButton({
        text: "Continue"
        }) }}


      </form>
    </div>
  </div>

{% endblock %}

{% block pageScripts %}

<script>



    $('.govuk-checkboxes .govuk-checkboxes__item:nth-child(4)').before($('<p class="govuk-!-margin-top-4">or</p>'))

    $('.govuk-checkboxes .govuk-checkboxes__item:nth-child(5) input').on('change', function() {
        if ($(this).is(':checked')) {
            $('.govuk-checkboxes .govuk-checkboxes__item:not(.govuk-checkboxes__item:nth-child(5)) input').prop('checked', false)           
        }
    })

    $('.govuk-checkboxes .govuk-checkboxes__item:not(.govuk-checkboxes__item:nth-child(5)) input').on('change', function() {
        if ($(this).is(':checked')) {
            $('.govuk-checkboxes .govuk-checkboxes__item:nth-child(5) input').prop('checked', false)
        }
    })

</script>

{% endblock %}