
{% extends "layout.html" %}

{% block pageTitle %}
Is there a minimum level of qualification that someone needs for the role? 
{% endblock %}

{% block beforeContent %} 

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
      <form method="post" action="summary"> 

  {{ govukRadios({
    idPrefix: "qualifications",
    name: "qualifications",
    fieldset: {
      legend: {
        text: "Is there a minimum level of qualification that someone needs for the role?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    items: [
      {
        value: "none",
        text: "No qualification requirements",
        checked: true if data['qualifications'] == 'none'
      },   
      {
        value: "levelOneTwo",
        text: "Level 1-2 (GCSEs)",
        checked: true if data['qualifications'] == 'levelOneTwo'
      },
      {
        value: "levelThree",
        text: "Level 3 (A Level or Diploma) or higher",
        checked: true if data['qualifications'] == 'levelThree'
      }
    ]
  }) }}
      {{ govukButton({
        text: "Continue"
        }) }}


      </form>
    </div>
  </div>

{% endblock %}

{% block pageScripts %}

<script>



    $('.govuk-checkboxes .govuk-checkboxes__item:nth-child(4)').before($('<p class="govuk-!-margin-top-4">or</p>'))

    $('.govuk-checkboxes .govuk-checkboxes__item:nth-child(5) input').on('change', function() {
        if ($(this).is(':checked')) {
            $('.govuk-checkboxes .govuk-checkboxes__item:not(.govuk-checkboxes__item:nth-child(5)) input').prop('checked', false)           
        }
    })

    $('.govuk-checkboxes .govuk-checkboxes__item:not(.govuk-checkboxes__item:nth-child(5)) input').on('change', function() {
        if ($(this).is(':checked')) {
            $('.govuk-checkboxes .govuk-checkboxes__item:nth-child(5) input').prop('checked', false)
        }
    })

</script>

{% endblock %}