
{% extends "layout.html" %}

{% block pageTitle %}
Why are government schemes of interest to you?
{% endblock %}

{% block beforeContent %} 

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">    
    
     <h1 class="govuk-heading-l">
       Comparison of schemes
     </h1>

     {% set apprenticeships %}
        <a href="apprenticeship"> Apprenticeships </a>
        <p class="govuk-body"> 
            Paid employment combining work and study in a specific job allowing you to develop your workforce and business 
        </p>
      {% endset %}

      {% set tlevels %}
        <a href="tlevels"> T Levels </a>
      {% endset %}

      {% set kickstart %}
        <a href="kickstart"> Kickstart Schemes </a>
      {% endset %}

      {% set swap %}
        <a href="swap"> SWAP </a>
      {% endset %}

      {% set traineeship %}
        <a href="traineeship"> Traineeship </a>
      {% endset %}

      {% set skillsbootcamp %}
        <a href="skillsbootcamp"> Skills Bootcamp</a>
      {% endset %}

      {% set supportedinternship %}
        <a href="supportedinternship"> Supported Internships </a>
      {% endset %}

      {% set clc %}
        <a href="clc"> Care-Leavers Covenant </a>
      {% endset %}

      {% set trainingoutsideofemployment %}
        <a href="trainingoutsideofemployment"> Training outside of Employment </a>
      {% endset %}

     


     {{ govukTable({
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,
  
     head: [
    {
      text: ""
    },
    {
      text: "Cost"
    },
    {
      text: "Benefits"
    },
    {
      text: "Time"
    },
    {
      text: "Financial incentive"
    }
  ],
       rows: [
         [
           {
            html: apprenticeships
           },
           {
             text: "Apprentice minimum wage and 5% training contribution depending on business size"
           },
           {
             text: "You develop a motivated, skilled, and qualified workforce"
           },
           {
             text: "Minimum of 12 months employment"
           },
           {
             text: "£4000"
           }
         ]
        if data['schemes'] | includes('apprenticeships') ,
         [
           {
             html: tlevels
           },
           {
             text: "No cost but some employers choose to cover living expenses"
           },
           {
             text: "A learner spends 9 weeks with you at no cost"
           },
           {
             text: "Short term 45-day industry placement"
           },
           {
             text: "Yes, financial incentives are available"
           }
         ]
        if data['schemes'] | includes('tlevels'), 
        [
           {
              html: kickstart
           },
           {
             text: " No costs"
           },
           {
             text: "Support young people to gain valuable experience and help your teams gain supervisory experience"
           },
           {
             text: "6-months"
           },
           {
             text: "Yes, financial incentives are available"
           }
         ]
        if data['schemes'] | includes('kickstart'), 
        [
           {
              html: swap
           },
           {
             text: "No cost, SWAP placements are entirely government-funded"
           },
           {
             text: " Reduces the risks within the recruitment process whilst developing the training and skills through fully-funded pre-employment training"
           },
           {
             text: "6-weeks"
           },
           {
             text: "Government-funded tailored support to meet your recruitment needs"
           }
         ]
        if data['schemes'] | includes('swap') , 
        [
           {
              html: traineeship
           },
           {
             text: "No cost but some employers choose to cover living expenses"
           },
           {
             text: "Helps you increase your capacity and productivity whilst developing a loyal and talented workforce"
           },
           {
             text: "6-weeks"
           },
           {
             text: "Yes, financial incentives are available"
           }
         ]
        if data['schemes'] | includes('traineeship') , 
        [
           {
              html: skillsbootcamp
           },
           {
             text: "cost content"
           },
           {
             text: "Helps future-proof your business in a rapidly changing labour market and recruit staff with the right training and skills from the outset"
           },
           {
             text: "16-weeks"
           },
           {
             text: "Yes, financial incentives are available"
           }
         ]
        if data['schemes'] | includes('skillsbootcamp') , 
        [
           {
              html: supportedinternship
           },
           {
             text: "cost content"
           },
           {
             text: "Reduced recruitment costs whilst having an increased chance of getting the right person whilst contributing back to society"
           },
           {
             text: "6 to 12-months"
           },
           {
             text: "incentive content"
           }
         ]
        if data['schemes'] | includes('supportedinternship'), 
        [
           {
              html: clc
           },
           {
             text: "cost content"
           },
           {
             text: "benefit content"
           },
           {
             text: "time content"
           },
           {
             text: "incentive content"
           }
         ]
        if data['schemes'] | includes('careleaverscovenant'),
         [
           {
              html: trainingoutsideofemployment
           },
            {
             text: "cost content"
           },
           {
             text: "benefit content"
           },
           {
             text: "time content"
           },
           {
             text: "incentive content"
           }
         ]
        if data['schemes'] | includes('trainingoutsideemployment') 
       ]
     }) }}


      </form>

    <p class="govuk-body">
    <a href="frontpage_thirds" class="govuk-link"> Return to list of all schemes </a>
    </p>
      
    </div>
  </div>

{% endblock %}
