
{% extends "layout.html" %}

{% block pageTitle %}
 Based on your answers
{% endblock %}

{% block beforeContent %} 

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Heading</h1>
    </div>
    </div>

    {% if (data['length'] | includes('medium')) or (data['length'] | includes('long')) and (data['motivations'] | includes('train')) or (data['motivations'] | includes('diversify')) and (data['finance'] | includes('paid')) %}
        Apprenticeships <br>
    {% endif %}

    {% if (data['length'] | includes('short')) or (data['length'] | includes('medium'))  %}
      Traineeships <br>
    {% endif %}

    {% if (data['finance'] | includes('paid')) and (data['qualifications'] == 'none') or (data['qualifications'] == 'levelOneTwo')  %}
      T Levels placement <br>
    {% endif %}

    {% if (data['length'] | includes('short')) and (data['qualifications'] == 'none') or (data['qualifications'] == 'levelOneTwo')   %}
     Bootcamps <br>
    {% endif %}

    {% if (data['length'] | includes('medium')) and (data['qualifications'] == 'none')  %}
     Supported Internships <br>
    {% endif %}

    {% if (data['length'] | includes('medium')) and (data['motivations'] | includes('train')) or (data['motivations'] | includes('unpaid')) and (data['qualifications'] == 'none')  %}
     Kickstart <br>
    {% endif %}

    {% if (data['length'] | includes('short')) and (data['finance'] | includes('unpaid')) and (data['qualifications'] == 'none') %}
     SWAP <br>
    {% endif %}

    {% if (data['length'] | includes('long')) and (data['motivations'] | includes('train')) and (data['finance'] | includes('paid')) and (data['qualifications'] == 'levelThree') %}
     HTQ <br>
    {% endif %}



<h2 class="govuk-heading-m govuk-!-padding-top-9"> Your answers </h2>

{# Set Length answers #}
{% set lengthHTML %}
    <ul class="govuk-list">
    {% for lengthAnswer in data['length'] %}
      <li>
      {% if lengthAnswer  == 'short' %}
        Up to 4 months
      {% elif lengthAnswer == 'medium' %}
        4 months to 12 months
      {% elif lengthAnswer == 'long' %}
        More than a year
      {% elif lengthAnswer == 'notSure' %}
        Not sure
      {% endif %}
      </li>
    {% endfor %}
    </ul>
{% endset %}

{# Set motivations answers #}

{% set motivationsHTML %}
    <ul class="govuk-list">
    {% for motivation in data['motivations'] %}
      <li>
      {% if motivation  == 'train' %}
        To train someone up into a full time role
      {% elif motivation == 'unpaid' %}
       To offer someone an unpaid work placement opportunity
      {% elif motivation == 'diversify' %}
        To diversify our workforce or for Corporate and Social Responsibility
      {% elif motivation == 'notSure' %}
        Not sure
      {% endif %}
      </li>
    {% endfor %}
    </ul>
{% endset %}

{# Set additional funding answers #}

{% set fundingHTML %}
    <ul class="govuk-list">
    {% for funding in data['finance'] %}
      <li>
      {% if funding  == 'unpaid' %}
        An unpaid placement
      {% elif funding == 'paid' %}
       Pay at least minimum wage      
      {% elif funding == 'notSure' %}
        Not sure
      {% endif %}
      </li>
    {% endfor %}
    </ul>
{% endset %}

{% set qualificationHTML %}
      {% if data['qualifications']  == 'none' %}
        No qualification requirements
      {% elif data['qualifications']  == 'levelOneTwo' %}
       Level 1-2 (GCSEs)
      {% elif data['qualifications']  == 'levelThree' %}
        Level 3 (A Level or Diploma) or higher
      {% endif %}
{% endset %}


    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Length of placement"
          },
          value: {
            html: lengthHTML
          },
          actions: {
            items: [
              {
                href: "/length?cya=true",
                text: "Change",
                visuallyHiddenText: "length of placement"
              }
            ]
          }
        },
        {
          key: {
            text: "Why schemes interest you"
          },
          value: {
            html: motivationsHTML
          },
          actions: {
            items: [
              {
                href: "motivations?cya=true",
                text: "Change",
                visuallyHiddenText: "why scemes interest you"
              }
            ]
          }
        },
        {
          key: {
            text: "Additional funding investment"
          },
          value: {
            html: fundingHTML
          },
          actions: {
            items: [
              {
                href: "/finance?cya=true",
                text: "Change",
                visuallyHiddenText: "additional funding investment"
              }
            ]
          }
        },
        {
          key: {
            text: "Minimum qualification level"
          },
          value: {
            html: qualificationHTML
          },
          actions: {
            items: [
              {
                href: "qualifications",
                text: "Change",
                visuallyHiddenText: "minimum qualification level"
              }
            ]
          }
        }
      ]
    }) }}

{% endblock %}
