
{% extends "layout.html" %}

{% block pageTitle %}
Traineeships
{% endblock %}

{% block beforeContent %} {{ super() }}

{{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Traineeships
      </h1>

      <p class="govuk-body">
        A traineeship is a skills development programme that includes a work placement. 
      </p>    

      <p class="govuk-body">
    The full programme can last from 6 weeks up to 1 year, though most traineeships last for less than 6 months.
      </p>

      <p class="govuk-body">
        Your business needs to be able to offer at least 70 hours of a safe, meaningful, and high-quality work experience. You will work with a training provider to design the programme.
      <p>

      <p class="govuk-body">
        The trainee will gain English, maths, digital and work-related qualifications which can lead them on to:
        <ul class="govuk-list govuk-list--bullet">
          <li>
            An apprenticeship
          </li>
          <li>
            Work
          </li>
          <li>
            Further Education
          </li>
          <li>
           A Kickstart placement
          </li>
        </ul>
        </p>

      <h2 class="govuk-heading-m"> Employer costs </h2>
      <p class="govuk-body">
        No cost but employers choose to pay the wages and any payments for expenses such as travel and living costs.  
      </p>

     
        <h2 class="govuk-heading-m"> How to offer a traineeship</h2>
  <p class="govuk-body">
 <a href="https://www.gov.uk/guidance/traineeship-information-for-employers#get-started">Contact the National Apprenticeship Service </a> to get started with offering a traineeship. 
        </p>

   
 <h2 class="govuk-heading-m"> Benefits of Traineeships </h2>
  <p class="govuk-body">
   Find out <a href="https://www.gov.uk/guidance/traineeship-information-for-employers">how traineeships can benefit your business</a>.
Read about <a href="https://www.gov.uk/guidance/traineeship-information-for-employers"> how businesses are using traineeships</a>.
  
<p class="govuk-body">
  <a href="https://www.gov.uk/guidance/traineeship-information-for-employers">Visit the dedicated traineeships page for more information </a>
    </p>
    </div>
  </div>

{% endblock %}

